:root {
    /* Avatar Config */
    --avatar-frame-border_gradient: linear-gradient(0deg, rgba(140,123,88,1) 0%, rgba(181,156,106,1) 50%, rgba(225,207,159,1) 100%);
    --avatar-frame-border-width-large: 7px;
    --avatar-frame-border-width-small: 2px;

    /* General Config */
    --border-color-default: #464234;
    --box-color-default: #141317;
    --main-background-color: #101113;
    --content-background-color: #272733;
    --content-background-gradient: linear-gradient(to bottom, #272733, #201f26);
    --content-outline-color: #1f212a;
    --content-border-color: #14131a;
    --footer-background-color: #0E0D0E;
    --footer-font-color: #423f39;
    --regentimer-color: #7C88C3;

    /* Content colors */
    --daily-task-active-bg-color: #1f161c;
    --daily-task-complete-bg-color: #1e222c;

    --exp-bar-bg-color: #292e4c;
    --exp-bar-fill-color: #5964a6;

    --progress-bar-bg-color: #433c32;
    --progress-bar-dark-bg-color: rgba(0,0,0,0.2);
    --progress-bar-fill-color: #bca471;

    /* Structure */
    --header-height: 35px;
    --content-width: 930px;
    --sidebar-width: 250px;
    --content-sidebar-gap: 15px;
    --topbar-height: 60px;
    --hotbar-height: 85px;
    --footer-height: 30px;

    /* Font Config */
    --font-primary: "Trebuchet MS";
    --font-primary-variant: small-caps;
    --font-secondary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary-variant: small-caps;
    --font-color-1: #c7b070;
    --font-color-2: #fffcf5;
    --font-color-3: #d1c5ad;
    --font-color-4: #d0c7f3;
    --font-color-5: #a3a3c5;
    --font-color-6: #a59e8d;
    --font-color-7: #948768;
    --font-min: 12px;
    --font-small: 13px;
    --font-default: 14px;
    --font-medium: 15px;
    --font-large: 17px;
    --font-xlarge: 18px;
    --font-max: 21px;
    --text-hover: white;

    /* Resource Config */
    --resource-bar-width: 300px;
    --resource-bar-height: 21px;
    --resource-bar-inner-height: 19px;
    --health-fill: linear-gradient(to right, #4c2626, #7c2d2d 15%);
    --health-preview: #4c2626;
    --health-highlight: #9d5454;
    --chakra-fill: linear-gradient(to right, #242639, #3F4979 15%);
    --chakra-preview: #242639;
    --chakra-highlight: #7782ba;
    --stamina-fill: linear-gradient(to right, #2e362c, #2a5e3c 15%);
    --stamina-preview: #2e362c;
    --stamina-highlight: #7f9d89;

    /* Hotbar Config */
    --hotbar-background-color: #100f11;
    --hotbar-border-color: #0c0c0e;
    --hotbar-keybind-modal-width: 700px;
    --hotbar-keybind-modal-height: 400px;

    /* Sidebar Config */
    --sidebar-header-background-color: #8c7b58;
    --sidebar-header-height: 23px;
    --sidebar-button-background-color: #1a191d;
    --sidebar-button-background-hover: linear-gradient(to bottom, #262631 50%, #22222a 50%);
    --sidebar-button-border-color: #20222b;

    /* Header Config */
    --header-background-color: #151417;
    --header-border-color: #0c0d0e;
    --header-border-height: 3px;
    --header-logout-color: #e6a0a0;

    /* Chat Config */
    --chat-secondary-background-color: #1a1921;

    /* Style helpers */
    --clip-tall-hexagon: polygon(50% 0%,95% 20%,95% 80%,50% 100%,5% 80%,5% 20%);

}

/* Helper Classes - TO-DO: remove helpers, organize module CSS classes */
.ft-b {
    font-weight: bold;
}
.ft-i {
    font-style: italic;
}
.ft-p {
    font-family: var(--font-primary);
    font-variant: var(--font-primary-variant);
}
.ft-s {
    font-family: var(--font-secondary);
    font-variant: var(--font-secondary-variant);
}

.ft-c1 {
    color: var(--font-color-1);
}
.ft-c2 {
    color: var(--font-color-2);
}
.ft-c3 {
    color: var(--font-color-3);
}
.ft-c4 {
    color: var(--font-color-4);
}
.ft-c5 {
    color: var(--font-color-5);
}

.ft-min {
    font-size: 12px;
}
.ft-small {
    font-size: 13px;
}
.ft-default {
    font-size: 14px;
}
.ft-medium {
    font-size: 15px;
}
.ft-large {
    font-size: 17px;
}
.ft-xlarge {
    font-size: 18px;
}
.ft-max {
    font-size: 21px;
}

.t-center {
    text-align: center;
}
.t-left {
    text-align: left;
}
.t-hover:hover {
    color: var(--text-hover);
    cursor: pointer;
}
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.d-in_flex {
    display: inline-flex;
}
.d-in_block {
    display: inline-block;
}
.jc-center {
    justify-content: center;
}

body {
    background-color: var(--main-background-color);
    background-image: url(../../images/v2/decorations/bigdiamond_opa20.png), url(../../images/v2/decorations/smalldiamond_opa20.png);
    background-position: 16em 40em, 10em 6em, 88% 40em, 92% 12%;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
}

#container {
    background: none;
    width: 100%;
    justify-content: center;
    display: flex;
}

#content_wrapper {
    width: var(--content-width);
    display: inline-block;
    margin-left: var(--content-sidebar-gap);
    margin-right: var(--content-sidebar-gap);
    margin-bottom: var(--hotbar-height);
}

.contentHeader {
    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant);
    color: var(--font-color-1) !important;
    font-size: var(--font-large) !important;
    display: flex !important;
    flex-direction: row !important;
    white-space: nowrap;
}

#contentHeaderLocation {
    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant);
    color: var(--font-color-1) !important;
    font-size: var(--font-large) !important;
    white-space: pre;
}

.contentHeaderDivider {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 20px;
}

#contentHeaderCoords {
    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant);
    color: var(--font-color-1) !important;
    font-size: var(--font-large) !important;
    white-space: pre;
}

#content {
    width: 100%;
    background-image: var(--content-background-gradient);
    border-width: 2px;
    border-color: var(--content-border-color);
    border-style: solid;
    outline: 2px;
    outline-color: var(--content-outline-color);
    outline-offset: 0;
    outline-style: solid;
    min-height: 500px;
    padding-bottom: 5px;
    margin: 0;
}

.main_logo {
    height: 30px;
    width: 305px;
    background: url("/images/v2/decorations/logo.png") no-repeat;
    background-position: center;
    border: none;
}

.button-bar_small {
    height: 22px;
    width: 67px;
    border: none;
    background: url("/images/v2/decorations/barbutton.png") no-repeat;
    background-position: center;
}
.button-bar_small:active {
    background-size: 98%;
}
.button-bar_large {
    height: 22px;
    width: 108px;
    border: none;
    background: url("/images/v2/decorations/barbigbutton.png") no-repeat;
    background-position: center;
}
.button-bar_large:active {
    background-size: 98%;
}

#footer {
    font-family: var(--font-primary);
    font-size: 12px;
    color: var(--footer-font-color);
    background-color: var(--footer-background-color);
    width: 100%;
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    z-index: 10;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.footer-left {
    width: var(--sidebar-width);
}

.footer-right {
}

.footer_text {
    text-align: center;
    padding-top: 10px;
}

.nwbigcorner {
    position: absolute;
    top: 0;
    left: 0;
}

.nebigcorner {
    position: absolute;
    top: 0;
    right: 0;
}

.sebigcorner {
    position: absolute;
    bottom: 0;
    right: 0;
}

.swbigcorner {
    position: absolute;
    bottom: 0;
    left: 0;
}

.nwcorner {
    position: absolute;
    top: 0;
    left: 0;
}

.necorner {
    position: absolute;
    top: 0;
    right: 0;
}

.secorner {
    position: absolute;
    bottom: 0;
    right: 0;
}

.swcorner {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Avatar styles */
.avy_none {
    display: none !important;
}
.avy_round {
    clip-path: circle(50% at 50% 50%);
}
.avy_three-point {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.avy_three-point-inverted {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.avy_four-point {
    clip-path: none;
}
.avy_four-point-90 {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.avy_four-point-oblique {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.avy_five-point {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.avy_six-point {
    clip-path: polygon(21% 0, 79% 0, 100% 50%, 79% 100%, 21% 100%, 0% 50%);
}
.avy_six-point-long {
    clip-path: polygon(40% 0, 100% 0, 100% 60%, 60% 100%, 0 100%, 0 40%);
}
.avy_eight-point {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.avy_eight-point-wide {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.avy_nine-point {
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.avy_twelve-point {
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.avatar_frame {
    max-width: 100%;
    max-height: 100%;

    position: relative;
    display: flex;

    background: var(--avatar-frame-border_gradient);
    padding: var(--avatar-frame-border-width-large);
}
.avy_frame_none {
    padding: 0 !important;
    background: none;
}
.avatar_img {
    max-width: 100%;
    max-height: 100%;
}

/* Content styles */
.name.black {
    color: #000;
    --shadow-color: rgba(100,100,100,1);
    --shadow-size: 1px;
    text-shadow:
        /* top row */
        -1px -1px var(--shadow-size) var(--shadow-color),
        0 -1px var(--shadow-size) var(--shadow-color),
        1px -1px var(--shadow-size) var(--shadow-color),
        /* left and right */
        -1px 0 var(--shadow-size) var(--shadow-color),
        1px 0 var(--shadow-size) var(--shadow-color),
        /* bottom row */
        -1px 1px var(--shadow-size) var(--shadow-color),
        0 1px var(--shadow-size) var(--shadow-color),
        1px 1px var(--shadow-size) var(--shadow-color);
}

.box-primary {
    box-sizing: border-box;

    background-color: var(--box-color-default);

    /* Corners in clockwise direction */
    background-image:
            url(/images/v2/decorations/necorner.png),
            url(/images/v2/decorations/secorner.png),
            url(/images/v2/decorations/swcorner.png),
            url(/images/v2/decorations/nwcorner.png);
    background-repeat:
            no-repeat,
            no-repeat,
            no-repeat,
            no-repeat;
    background-position: top right, bottom right, bottom left, top left;

}
.box-secondary {
    box-sizing: border-box;

    background-color: var(--box-color-default);
    border: 1px solid var(--border-color-default);
}

h2 {
    font-size: 16px;
    margin: 4px 0;

    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant);

    color: var(--font-color-1);
}
h3 {
    font-size: 14px;
    margin: 4px 0;

    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant);

    color: var(--font-color-1);
}

/* Compatibility */
.systemMessage {
    width: 100%;
    top: 5px;
}

/* User Colors */
.chat_user_name {
    background: none !important;
    clip-path: none !important;
    cursor: pointer;
    align-self: center;
    --color-text-shadow: none !important;
    flex-shrink: 0;
}

#chatReactContainer .chat_user_name.premiumUser:hover {
    --color-text-shadow: rgba(255, 255, 255, 0.4) !important;
    background: transparent url("/images/premium_glow.gif") repeat scroll 0 0 !important;
    text-shadow: 0 1px 1px var(--color-text-shadow), 0 -1px 1px var(--color-text-shadow), -1px 0 1px var(--color-text-shadow), 1px 0 1px var(--color-text-shadow);
}

#chatReactContainer .staffMember {
    width: 100%;
    margin: 1px 0 3px;
    padding: 0;
    font-size: 10px;
    text-transform: uppercase;
    color: #E0E0E0;
    text-shadow: 0 -1px 1px;
}

/* Blue */
a.blue, a.blue:hover {
    color: #92c0ff !important;
}
.post_user_avatar_wrapper.blue, .avatar_frame.blue, .avatar_frame.visited {
    background: linear-gradient(0deg, rgba(87, 130, 188, 1) 0%, rgba(146, 192, 255, 1) 100%);
}

/* Pink */
a.pink, a.pink:hover {
    color: #f69edc !important;
}
.post_user_avatar_wrapper.pink, .avatar_frame.pink, .avatar_frame.visited {
    background: linear-gradient(0deg, rgba(182, 94, 123, 1) 0%, rgba(246, 158, 220, 1) 100%);
}

/* Gold */
a.chat_user_name.gold, a.gold:hover, a.gold:visited {
    color: #c6ab5c !important;
}
.post_user_avatar_wrapper.gold, .avatar_frame.gold {
    background: linear-gradient(0deg, rgba(126, 103, 50, 1) 0%, rgba(198, 171, 92, 1) 100%);
}

/* Moderator */
a.chat_user_name.moderator, a.moderator:hover, a.moderator:visited {
    color: #67d18c !important;
}
.post_user_avatar_wrapper.moderator, .avatar_frame.moderator {
    background: linear-gradient(0deg, rgba(64, 124, 78, 1) 0%, rgba(103, 209, 140, 1) 100%);
}

/* Head Moderator */
a.headModerator, a.headModerator:hover, a.headModerator:visited {
    color: #83ddea !important;
}
.post_user_avatar_wrapper.headModerator, .avatar_frame.headModerator {
    background: linear-gradient(0deg, rgba(82, 133, 129, 1) 0%, rgba(131, 221, 234, 1) 100%);
}

/* Content Admin */
a.contentAdmin, a.contentAdmin:hover, a.contentAdmin:visited {
    color: #c3afff !important;
}
.post_user_avatar_wrapper.contentAdmin, .avatar_frame.contentAdmin {
    background: linear-gradient(0deg, rgba(103, 89, 176, 1) 0%, rgba(195, 175, 255, 1) 100%);
}

/* Administrator */
a.administrator, a.administrator:hover, a.administrator:visited {
    color: #f57677 !important;
}
.post_user_avatar_wrapper.administrator, .avatar_frame.administrator {
    background: linear-gradient(0deg, rgba(177, 69, 66, 1) 0%, rgba(245, 118, 119, 1) 100%);
}

/* Default User */
a.normalUser, a.normalUser:hover, a.normalUser:visited {
    color: #c5baa3 !important;
}
.post_user_avatar_wrapper.normalUser, .avatar_frame.normalUser {
    background: var(--avatar-frame-border_gradient) !important;
}