/* Geisha Overrides */
.contentDivHeader {
    color: var(--font-color-2) !important;
    background: var(--sidebar-header-background);
    border-radius: 0px;
}

#content {
    color: var(--font-color-3);
    font-family: var(--font-secondary);
}

.contentDiv, .contentDivMed {
    background: var(--sidebar-button-background-color);
}

#content table.table th {
    color: var(--font-color-2);
    background: var(--sidebar-header-background);
    text-shadow: 0 1px 0 #000000;
    font-family: var(--font-primary);
    font-variant: var(--font-primary-variant);
    font-size: var(--font-medium);
}

#content table.table {
    background-color: var(--sidebar-button-background-color);
    border-radius: 0px;
    font-size: var(--font-default);
    border: none;
}

#content td a {
    color: var(--font-link);
}

#content a, a:visited {
    color: var(--font-link);
    text-decoration: none !important;
}

    #content a:hover {
        color: var(--font-link);
        text-decoration: underline !important;
    }

    #content a.selected {
        color: #b3a176 !important;
    }

#content table.table td.row1 {
    background-color: var(--sidebar-button-background-color);
}

#content table.table td.row2 {
    background: var(--sidebar-button-background-hover);
}

#content table.table td {
    border: 1px solid var(--sidebar-button-border-color);
}

input {
    background: var(--sidebar-button-background-hover);
    color: var(--font-color-3);
    border-color: var(--font-color-3);
}

textarea {
    background: var(--content-background-color);
    color: var(--font-color-3);
    border-color: var(--font-color-3);
}

select {
    background: var(--content-background-color);
    color: var(--font-color-3);
    border-color: var(--font-color-3);
}

#content .button, .contentDiv button {
    background: #343d77;
    color: var(--font-color-2);
    border-color: #151822;
}

    #content .button:hover, .contentDiv button:hover {
        background: #68293f;
        color: var(--font-color-2);
        border-color: #1e161f;
    }

button {
    background: var(--content-background-color);
    color: var(--font-color-3);
    border-color: var(--font-color-3);
}

    button:hover {
        background: var(--box-color-default);
        color: var(--font-color-2);
        border-color: var(--font-color-2);
    }

#handsealOverlay {
    background-color: var(--sidebar-button-background-color) !important;
}

#jutsu .jutsuList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-top: 20px;
}

#jutsu .jutsuName {
    background: var(--box-color-default) !important;
    color: var(--font-color-3);
    width: 200px;
    height: 110px;
    border-radius: 12px;
    padding: 5px 10px 2px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1px;
    user-select: none;
    overflow: hidden;
    outline: #20222b 1px solid;
}

    #jutsu .jutsuName:hover {
        background: #221920 !important;
    }

    #jutsu .jutsuName.selected_jutsu {
        outline: #4e2a3c 1px solid;
        color: var(--font-color-2);
        background: #221920 !important;
    }

    #jutsu .jutsuName .jutsu_name {
        font-family: var(--font-secondary);
        color: #d2cbef;
        font-size: 16px;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
    }

    #jutsu .jutsuName .jutsu_type {
        font-family: var(--font-secondary);
        color: #c0c7dc;
        font-size: 13px;
        font-variant: small-caps;
        text-transform: lowercase;
    }

    #jutsu .jutsuName .jutsu_details {
        font-family: var(--font-secondary);
        color: #eee1c8;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
    }

    #jutsu .jutsuName .jutsu_details_row {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 5px;
        overflow: hidden;
        white-space: nowrap;
    }

    #jutsu .jutsuName .jutsu_effect {
        display: flex;
        justify-content: space-between;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }

    #jutsu .jutsuName[aria-disabled='true'] {
        opacity: 0.5;
    }

        #jutsu .jutsuName[aria-disabled='true']:hover {
            background: var(--box-color-default) !important;
            cursor: default;
        }

.weapon {
    background: var(--content-background-color) !important;
    color: var(--font-color-3);
    border-color: var(--font-color-3);
}

    .weapon:hover {
        background: var(--box-color-default) !important;
    }

    .weapon.selected_weapon {
        border-color: var(--font-color-2);
        color: var(--font-color-2);
        background: var(--box-color-default) !important;
    }

#content ul.submenu {
    background: var(--sidebar-header-color);
    border: none;
}

    #content ul.submenu li {
        background: var(--sidebar-header-background);
    }

    #content ul.submenu a {
        color: var(--font-color-2);
        text-shadow: 0 1px 0 #000000;
        font-family: var(--font-primary);
        font-variant: var(--font-primary-variant);
        font-size: var(--font-medium);
    }

        #content ul.submenu a:hover {
            text-shadow: none;
        }

#content table.table tr:first-child td:last-child, #content table.table tr:first-child th:last-child {
    border-top-right-radius: 0px;
}

#content table.table tr:first-child td:first-child, #content table.table tr:first-child th:first-child {
    border-top-left-radius: 0px;
}

.healthFill {
    background: var(--health-fill) !important;
}

.resourceFill.health {
    background: var(--health-fill) !important;
}

.healthPreview {
    background: var(--health-preview) !important;
}

.staminaFill {
    background: var(--stamina-fill) !important;
}

.staminaPreview {
    background: var(--stamina-preview) !important;
}

.chakraFill {
    background: var(--chakra-fill) !important;
}

.chakraPreview {
    background: var(--chakra-preview) !important;
}

.battle_text_ninjutsu {
    color: var(--ninjutsu-text-color) !important;
}

.battle_text_taijutsu {
    color: var(--taijutsu-text-color) !important;
}

.battle_text_genjutsu {
    color: var(--genjutsu-text-color) !important;
}

.battle_text_heal {
    color: var(--heal-text-color) !important;
}

#content table.table th a {
    color: var(--font-color-2);
}

    #content table.table th a:hover {
        color: var(--font-color-4);
    }

.jutsu_filter_button {
    background-color: var(--sidebar-button-background-color) !important;
    color: var(--font-color-3) !important;
    border-color: var(--sidebar-button-border-color) !important;
}

    .jutsu_filter_button.active {
        background-color: var(--sidebar-button-background-hover) !important;
        color: var(--font-color-2) !important;
        border-color: var(--sidebar-button-border-color) !important;
    }

.kunaiPack {
    background: var(--avatar-frame-border_gradient) !important;
    color: black !important;
}

#content table.table td.newsFooter {
    background-color: var(--sidebar-header-background);
}

.jutsu_select_wrapper {
    border-color: var(--sidebar-button-border-color) !important;
}

#handSeals p[data-selected="yes"] img {
    border-color: var(--hand-seal-highlight) !important;
}

#handSeals .handsealNumber {
    background-color: var(--hand-seal-highlight) !important;
    color: var(--hand-seal-text);
}

/* Special Mission Override */
#spec_miss_wrapper {
    background: var(--sidebar-button-background-color);
}

.spec_miss_log_entry_text {
    color: var(--font-color-3) !important;
}

.spec_miss_log_entry_timestamp {
    color: var(--font-color-3) !important;
}

.spec_miss_log_entry_timestamp_wraooer {
    color: var(--font-color-3) !important;
}

.spec_miss_page_warning {
    color: var(--font-color-3) !important;
}

a#spec_miss_cancel {
    color: var(--font-color-3) !important;
}

/* Inbox Override */
#inbox_convo_list_title_container {
    background: var(--sidebar-header-background);
    border-bottom: 1px solid var(--sidebar-header-background);
}

#inbox_convo_main_controls_container {
    background: var(--sidebar-header-background);
}

#inbox_convo_list, #inbox_convo_container, #inbox_convo_details_container {
    scrollbar-color: var(--sidebar-button-border-color);
}

#inbox_container {
    background: var(--sidebar-button-background-color);
    border: 1px solid var(--sidebar-button-border-color);
}

#content #inbox_new {
    background: var(--sidebar-header-background);
    border-color: var(--sidebar-header-background);
}

#inbox_convo_list_title {
    color: var(--font-color-2);
}

#inbox_convo_list_count {
    color: var(--font-color-2);
}

#inbox_convo_textbox {
    background: var(--content-background-color);
    color: var(--font-color-3);
    border-color: var(--font-color-3);
}

.inbox_convo_list_container_selected {
    background: var(--content-background-color);
}

.inbox_convo_title {
    color: var(--font-color-3);
}

.inbox_convo_list_container {
    border-color: var(--sidebar-header-background);
}

#content #inbox_new span {
    color: var(--font-color-2);
}

.inbox_message {
    border-color: var(--sidebar-header-background);
}

#inbox_convo_textbox_characters_remaining {
    color: var(--font-color-2);
}

.inbox_message_timestamp, .inbox_message_report {
    color: var(--font-color-3);
}

#content .inbox_message_report a {
    color: var(--font-color-3);
}

.inbox_message_self::before {
    background: none;
}

#inbox_convo_details_container, #inbox_new_convo_container {
    background: var(--sidebar-button-background-color);
}

.inbox_convo_details_title {
    background: var(--sidebar-header-background);
    color: var(--font-color-2);
}