html, body, ul {
	margin:0;
	padding:0;
	font-size:15px;
}
body {
	width:100%;
	position:relative;
	z-index:1;
	min-height:100%;
	background-color:#000040;
	background-image:url(./images/bgPattern.png);
	background-repeat:repeat;
}

#container {
	width:951px;
	min-height:100%;

	background-color:#BBDDEE;

	margin-left:auto;
	margin-right:auto;

	border-left:10px solid rgba(255,255,255,0.6);
	border-right:10px solid rgba(255,255,255,0.6);
	background-clip:padding-box;

	background-image:url(./images/containerBG.png);
	background-repeat:repeat;

	box-shadow: 		0 0px 50px 5px #FFF;
	-moz-box-shadow: 	0 0px 50px 5px #FFF;
	-webkit-box-shadow: 0 0px 50px 5px #FFF;
	overflow:hidden;
	margin-bottom:-39px;
}

#header {
	height:179px;
	margin-bottom:40px;

	/*background-color: #90BACC;*/
    background-color: #071d28;
}
#header img {
	display:block;
	margin-left:auto;
	margin-right:auto;
	border: 0px;

    width: 100%;
}

#menu {
	position:absolute;
	width:998px;
	margin-left:-23px;
	top:143px;


	background-image:url(./images/menuBG_998.png);
	background-repeat:no-repeat;

	height:44px;
	padding-top:35px;
	z-index:1000;
}

#menu ul.topMenu {
	margin-top:10px;
	margin-left:20px;
	list-style:none;
}
#menu ul.topMenu li {
	display:inline;
	padding: 10px 5px;
	margin-left:15px;
}
#menu ul.topMenu a {
	font-family: Arial, Helvetica, "sans-serif";
	font-size:16px;
	color:#EEEEEE;
	text-decoration:none;
	font-weight:bold;

	text-shadow:1px 1px 1px #000000;
}
#menu ul.topMenu a:hover {
	text-decoration:underline;
}

#contentContainer {
	width:71%;
	float:left;

	min-height:494px;

	margin-top:20px;
	margin-left:20px;
	margin-bottom:45px;
}
#content {
	width:100%;

	background-color:#DFE6E7;

	position:relative;

	padding-bottom:10px;

	border:1px solid #AAA;

	border-top-left-radius:15px;
	border-top-right-radius:15px;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, left top, right top, from(#DFE6E7), color-stop(0.50, #F3FAFB), to(#DFE6E7));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
	/* IE 10 */
	background: -ms-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
	/* Opera 11.10+ */
	background: -o-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
}

#notifications {
	width:100%;

	margin-bottom:20px;
	background-color:#DFE6E7;

	position:relative;

	border-top-left-radius:15px;
	border-top-right-radius:15px;

	text-align:center;

	background: -webkit-gradient(linear, left top, right top, from(#DFE6E7), color-stop(0.50, #F3FAFB), to(#DFE6E7));
	background: -webkit-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
	background: -moz-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
	background: -ms-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
	background: -o-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
}
#notifications p.notification {
	margin:0px;
	padding-top:5px;
	height:25px;
	background-color:#D0DAE0;
	border-bottom:1px solid #222;
}
#notifications p.notification:last-child {
	border:0px;
}

#sidebar {
	width:22%;
	float:right;

	position:relative;

	margin-top:20px;
	margin-right:15px;
	margin-bottom:45px;
	background-color:#DFE6E7;

	padding-bottom:30px;

	border:1px solid #AAA;

	border-top-left-radius:15px;
	border-top-right-radius:15px;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, left top, right top, from(#DFE6E7), color-stop(0.50, #F3FAFB), to(#DFE6E7));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
	/* IE 10 */
	background: -ms-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
	/* Opera 11.10+ */
	background: -o-linear-gradient(left, #DFE6E7, #F3FAFB 50%, #DFE6E7);
}

/* Login menu styling */
#login {
	text-align:center;
}
#login span {
	font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

#content div.submenu {
	/*position:absolute;*/
	top:30px;
	left:0px;
	right:0px;

	height:30px;

	border-top:1px solid #000000;
	border-bottom:1px solid #000000;

	background-color:#4090D0;

	text-align:center;
}
#content ul.submenu {
	width:100%;
	position:relative;
	list-style:none;
	margin:0px;
	padding:0px;
}
#content ul.submenu li {
	display:inline-block;
	margin:0px;
	padding:0px;
	font-size: 13px;
	height:30px;
}
#content ul.submenu a {
	display:inline-block;
	height:22px;
	width:100%;

	padding: 4px 5px;

	text-decoration:none;
	text-transform:uppercase;

	font-family:"comic sans ms";
	font-weight:bold;

	color:#000020;
	text-align:center;

	border-right:1px solid #000020;
}
#content ul.submenu a:visited {
	color:#000020;
}
#content ul.submenu a:hover {
	color:#F0F0F0;
	text-shadow: 1px 1px 1px #000000;
}
#content ul.submenu li:last-child a {
	border-right:0px;
}

div.submenuMargin {
	height:0px;
	margin-bottom:46px;
}

ul.menu {
	position:relative;
	list-style:none;
	border-top:1px solid #000020;
}
ul.menu li {
	display:block;
	width:100%;
}
ul.menu a {
	display:block;
	width:100%;
	height:20px;

	padding: 5px 0px;

	border-bottom: 1px solid #000020;

	text-decoration:none;
	text-transform:uppercase;

	font-family:"comic sans ms";
	font-weight:normal;

	color:#000020;
	text-align:center;
	background-color:rgba(255,255,255,0.4);
}
ul.menu a:visited {
	color:#000020;
}
ul.menu a:hover {
	color:#F0F0F0;
	background-color:#2160A0;
}

ul.menu hr {
	margin:0px;
	height:2px;
	padding:0px;
	border:0px;
	border-bottom:1px solid #000020;
	color:#005090;
	background-color:#005090;
}

div.logout {
	width:100%;
	position:absolute;
	bottom:0px;
}
div.logout a {
	display:block;
	width:100%;
	height:20px;

	padding: 5px 0px;

	text-decoration:none;
	text-transform:uppercase;

	font-family:"comic sans ms";

	color:#F0F0F0;
	background-color:#2160A0;
	text-align:center;
}
div.logout a:visited {
	color:#F0F0F0;
}
div.logout a:hover {
	color:#FFFFFF;
	background-color:#0A2060;
}

#logoutTimer {
	text-align: center;
}

@font-face {
	font-family:visitor1;
	src:url(./visitor1.ttf);
}

#footer {
	width:951px;

	height:25px;
	position:relative;
	/*top:-39px;*/
	margin-left:auto;
	margin-right:auto;
	padding-top:14px;

	background-color:#000;
	background-image:url(./images/footerBG.png);
	background-repeat:repeat-x;

	color:#FFF;
	text-align:center;
	font-family:visitor1;
	font-size:12px;
	text-shadow:1px 1px #000, -1px -1px #000;
}

label {
	display:inline-block;
}

div.header {
	margin-top:0px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom:1px solid #AAAAAA;

	text-align:center;
	height:24px;
	padding-top:6px;

	color:#FFFFFF;
	text-shadow: 0 0 2px #000000;

	font-family: sans-serif;
	font-size:1em;

	background-color:#318FD3;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0C283C), to(#318FD3));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #0C283C, #318FD3);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #0C283C, #318FD3);
	/* IE 10 */
	background: -ms-linear-gradient(top, #0C283C, #318FD3);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #0C283C, #318FD3);
}
#sidebar div.header {
	border-bottom:0px;
}

#content a, a:visited {
	color:#000030;
	font-weight:bold;
}
#content a:hover {
	color:#FFFFFF;
	text-decoration:none;
}

a.link, a.link:visited {
	color:#000030;
	font-weight:bold;
}
a.link:hover {
	color:#FFFFFF;
	text-decoration:none;
}

form {
	margin:0px;
}
p {
	margin-bottom:5px;
}


#content {
	font-size: 13px;
}
#content table.table {
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-top:15px;
	margin-bottom:5px;

	font-size: inherit;

	border:1px solid #404040;
	background-color:#D0DAE0;

	border-spacing:0px;
	border-collapse:collapse;

	table-layout: fixed;
}
#content table.table td {
	padding: 5px;
	border: 1px solid #404040;
	max-width: 100%;
}
#content table.table th {
	border:1px solid #404040;

	background-color:#005090;
	color:#EEEEEE;
	margin-top:5px;
}

#content table.table td.newsFooter {
	text-align:right;
	background-color:#2080CA;

    padding: 4px 5px 5px;
    border: none;

	font-size:13px;
	font-family:"comic sans ms";

	/* text-shadow:1px 1px #CCCCCC; */
}

#content table.globalMessage {
	margin-top:35px;
	margin-bottom:0px;
}

.systemMessage {
	text-align:center;
	color:#00A000;
}

.bold {
	font-weight:bold;
}
#content .bold {
	font-weight:bold;
}


#content a.chat {
	text-decoration:none;
}
#content a.chat:hover {
	text-decoration: underline;
}

#content a.imageLink {
	text-decoration: none;
}

/* Username colors */

#content .premiumUser, #content .premiumUser:hover {
    --color-text-shadow: rgba(255, 255, 255, 0.4);

    background: transparent url("/images/premium_glow.gif") repeat scroll 0% 0%;
    text-shadow:
            0 1px 1px var(--color-text-shadow),
            0 -1px 1px var(--color-text-shadow),
            -1px 0 1px var(--color-text-shadow),
            1px 0 1px var(--color-text-shadow);
}
#content .staffMember {
	width: 100%;
	margin: 1px 0px 3px;
	padding: 0px;
	font-size: 10px;
	text-transform: uppercase;
	color: #E0E0E0;
	text-shadow: 0px -1px 1px;
}

#content .blue, #content a.blue:hover  {
	color: #2020C0;
}
#content .pink, #content a.pink:hover {
	color: #E030C0;
}
#content .gold, #content a.gold:hover {
    --color-text-shadow: rgba(0, 0, 0, 0.6);
	color: rgb(255,215,0);
}

#content .moderator, #content a.moderator:hover {
	color: #009020;
}
#content .headModerator, #content a.headModerator:hover {
	color: #0090A0;
}
#content .contentAdmin, #content a.contentAdmin:hover {
    color: #A000B0;
}
#content .administrator, #content a.administrator:hover {
	color: #A00000;
}

#content a.chat.normalUser, #content a.chat.normalUser:hover {
	color: #000000;
}

#content td.rowHeader {
	padding:1px 0px;
	border:0px;
	border-bottom:1px solid #000000;
	font-weight:bold;
	text-align:center;
}
#content td.row1 {
	padding:1px 0px;
	border:0px;
	background-color:#BACAD0;


}
#content td.row2 {
	padding:1px 0px;
	border:0px;
	background-color:#D0DAE0;
}

#content table.map td {
	height: 28px;
	width: 28px;
}

p.trainingNotification {
	margin:auto;
	margin-bottom: 5px;
	padding:3px;
	text-align:center;

	background-color:#DFE6E7;
	border:1px solid #404040;
	border-radius:15px;
}

/* Overflow fixes */
#content table.table img {
	max-width: 100%;
}
#content table.table td {
	overflow-wrap: break-word;
}
#socialPosts table.table tr td:first-child {
	overflow-wrap: normal;
}

br.clear {
	clear:both;
	margin:0px;
}

/* Travel */
.upArrow, .leftArrow, .rightArrow, .downArrow {
    display: inline-block;
    height:32px;
    width:32px;
    margin:0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.upArrow {
    background-image: url(../../images/icons/up.png);
}
.upArrow:hover {
    background-image: url(../../images/icons/up_hover.png);
}

.leftArrow {
    background-image: url(../../images/icons/left.png);
}
.leftArrow:hover {
    background-image: url(../../images/icons/left_hover.png);
}

.downArrow {
    background-image: url(../../images/icons/down.png);
}
.downArrow:hover {
    background-image: url(../../images/icons/down_hover.png);
}

.rightArrow {
    background-image: url(../../images/icons/right.png);
}
.rightArrow:hover {
    background-image: url(../../images/icons/right_hover.png);
}

:root {
    --travel-button-size: 32px;

    /* #D0DAE0 */
    --theme-content-bg-color: #D0DAE0;
    --theme-content-darker-bg-color: #c8d2d7;
    --theme-content-darker2-bg-color: #bfc9cd;
    --theme-content-lighter-bg-color: #dae3e9;
}

.travelContainer {
    width: 560px;
    height: 338px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    /* Match content size to mapContainer, but pad */
    padding: var(--travel-button-size);
}
.mapContainer {
    width: 560px;
    height: 338px;
}

.travelButton {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.1);
}
.travelButton:hover {
    background: rgba(0,0,0,0.2);
}
.north {
    left: var(--travel-button-size);
    right: var(--travel-button-size);
    top: 0;
    height: var(--travel-button-size);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.east {
    width: var(--travel-button-size);
    right: 0;
    top: var(--travel-button-size);
    bottom: var(--travel-button-size);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.west {
    left: 0;
    width: var(--travel-button-size);
    top: var(--travel-button-size);
    bottom: var(--travel-button-size);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.south {
    left: var(--travel-button-size);
    right: var(--travel-button-size);
    height: var(--travel-button-size);
    bottom: 0;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contentDiv,
.contentDivMed {
    width: 95%;
    margin: 15px auto 15px auto;
	text-align: center;

    background: #D0DAE0;
    border-radius: 10px;
	border: 1px solid #2020209d;

	font-family: sans-serif;
}

.contentDiv p {
    padding: 10px;
    width: 100%;
    text-align: left;
    text-indent: 10px;
}
.contentDivMed {
    width: 70%;
}

.contentDivHeader {
    padding: 5px 0;
	margin: 0 auto;
    text-align: center;

    background: linear-gradient(#0C283C, #318FD3);
	border-bottom: 1x solid #AAAAAA;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

    color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
    font-size: 0.9rem;
}

.contentDivCaption {
    width: 90%;
    padding: 15px 0;
    text-align: center;
    margin: 0 auto;

    color: rgb(48, 48, 48);
    font-size: 1.3rem;
    font-family: 'BebasNeue', sans-serif;
}

.contentDivCaption span:first-of-type {
    padding-right: 10px;

    color: rgb(48, 48, 48);
	font-weight: bold;
}

#dailyTaskWrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    padding: 10px 0 0 0;
    text-align: left;
}

.dailyTask {
    display: flex;
    flex-flow: row wrap;
}

.dailyTaskTitle {
    flex-grow: 4;
    width: 100%;
    padding: 5px 0 10px 0;

    font-size: 1rem;
    color: rgb(48, 48, 48);
    text-transform: uppercase;
}

.dailyTaskGoal span:first-of-type,
.dailyTaskReward span:first-of-type,
.dailyTaskDifficulty span:first-of-type {
    padding-right: 10px;

    color: rgb(48, 48, 48);
    text-transform: uppercase;
	font-weight: bold;
}

.dailyTaskGoal,
.dailyTaskReward,
.dailyTaskDifficulty {
    text-align: left;

    color: rgb(48, 48, 48);
    font-size: 0.7rem;
}

.dailyTaskReward {
    text-align: left;
}

.dailyTaskDifficulty {
    text-align: left;
}

.dailyTaskGoal,
.dailyTaskReward,
.dailyTaskDifficulty {
    flex-grow: 1;
    width: 33%;
}

.dailyTaskDifficulty span:last-of-type {
    font-weight: bold;
}

.dailyTaskProgress {
    display: flex;
    flex-grow: 3;
    width: 90%;
    height: 30px;
}

.dailyTaskProgressCaption {
    flex-grow: 1;
    width: 10%;
    text-align: center;
    line-height: 30px;

    color: rgb(48, 48, 48);
    font-size: 0.8rem;
    font-weight: bold;
}

.dailyTaskProgressBar {
    height: 10px;
    width: 100%;
    align-self: center;

    background: #575656;
    box-shadow: 0 0 1px #000000 inset, 0 0 0 1px rgba(255,255,255,0.02);
    border: 1px solid #000000;
}

.dailyTaskProgressBar div {
    height: 100%;
    margin-left: 0;

    background:  linear-gradient(#0C283C, #318FD3);
    border-right: 1px solid #000000;
}

.dailyTaskComplete div {
    background: #218821;
}

.dailyTaskEasy {
    color: #3bac4e;
}

.dailyTaskMedium {
    color: #b1a00b;
}

.dailyTaskHard {
    color: #d13535;
}

/* SPECIAL MISSIONS HI LSM */

#spec_miss_wrapper {
    width: 80%;
    margin: 20px auto;
    padding: 0 20px 0 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;


    background: #D0DAE0;
    box-shadow: 0 0 2px #00000023;
	border: 1px solid #919191;
	border-radius: 10px;
}

#spec_miss_header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 20px 0;

    background: linear-gradient(to top, #0C283C, #318FD3);
    box-shadow: 0 0 5px #000000 inset;
    border: 1px solid #404040;
	border-radius: 10px;
}

#spec_miss_timer_title,
#spec_miss_progress_title,
#spec_miss_status_title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    
    color: #282836;
	font-weight: bold;
    text-transform: uppercase;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#spec_miss_timer_wrapper,
#spec_miss_progress_wrapper,
#spec_miss_character_wrapper {
    min-width: 33%;
}

#spec_miss_timer,
#spec_miss_status_text,
#spec_miss_progress_div {
    text-align: center;

	font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #c4c4c4;
    text-shadow: 0 1px 2px #000000;
}

#spec_miss_status_text.spec_miss_status_Success,
#spec_miss_progress_div.spec_miss_status_Success {
    color: #43a543;
}

#spec_miss_status_text.spec_miss_status_Failed,
#spec_miss_progress_div.spec_miss_status_Failed {
    color: #d32f2f;
}

#spec_miss_timer {
    font-size: 3rem;
}

#spec_miss_status_text {
    padding: 10px 0;

    font-size: 1.5rem;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#spec_miss_progress_div {
    padding: 10px 0;

    font-size: 2rem;
}

#spec_miss_health_wrapper {
    display: flex;
    width: 100%;
    gap: 5px;
    padding: 0 10px 0 0;
    flex-flow: row nowrap;
    align-items: center;
}

#spec_miss_health_icon {
    width: 25px;
    height: 25px;
    
    background: url('../../images/special_missions/helath.png') center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#spec_miss_health_bar_wrapper {
    flex-grow: 2;
}

#spec_miss_health_bar_out {
    width: 100%;
    height: 4px;
    position: relative;

    background: #212741;
    box-shadow: 0 0 1px #000000 inset;
}

#spec_miss_health_bar {
    background: #ca1d1d;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#spec_miss_reward_wrapper {
    width: 100%;
    text-align: center;

    color: #c4c4c4;
    font-size: 1.2rem;
}

#spec_miss_log_wrapper {
    min-width: 100%;
    margin: 20px 0 10px 0;
}

.spec_miss_log_entry {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    overflow: hidden;
    position: relative;
}

.spec_miss_log_entry::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;

    background: linear-gradient(to right, rgba(0,0,0,0), #707070);
}


.spec_miss_log_entry:first-of-type::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    top: 0;

    background: linear-gradient(to right, rgba(0,0,0,0), #b99e47);
}

.spec_miss_log_entry_timestamp_wrapper {
    flex-grow: 0;
    display: flex;
    position: relative;
    padding: 0 10px 0 0;
    align-items: center;
}

#spec_miss_log_entry_timestamp {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.5rem;
    color: #3b3b3b;
    font-style: italic;
}

.spec_miss_log_entry_icon_wrapper {
    flex-grow: 0;
    display: flex;
    align-items: center;
    position: relative;
}

.spec_miss_log_entry_icon {
    width: 40px;
    height: 40px;
    position: relative;

    box-shadow: 0 0 2px #000000 inset;
    border-radius: 100%;
}

.spec_miss_log_entry_icon::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 40px;
    width: 40px;
}

.spec_miss_log_entry_text {
    flex-grow: 1;
    padding: 20px 15px;
    text-align: left;

    color: #3b3b3b;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 0.9rem;
}

.spec_miss_page_warning {
    font-size: 0.9em;
    font-style: italic;
    margin-right: 65px;
    color: #3b3b3b;
    opacity: 0.9;
}
#spec_miss_cancel_wrapper {
    min-width: 100%;
    text-align: right;
    padding: 5px 0 5px 0;
}

a#spec_miss_cancel {
    padding: 10px 30px 10px 20px;
    display: inline-block;
    text-align: center;
    position: relative;

    font-size: 1rem;
    font-weight: bold;
    color: #3b3b3b;
    text-decoration: none;
    text-transform: uppercase;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a#spec_miss_cancel::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 45%;
    transform: translateY(-50%);
    right: 0;

    background: url('../../images/special_missions/cancel-off.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

a#spec_miss_cancel:hover {
    color: rgb(10, 10, 10);
}

a#spec_miss_cancel:hover::after {
    background: url('../../images/special_missions/cancel-on.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.spec_miss_event_move_x,
.spec_miss_event_move_y {
    background: #d4d24a;
}

.spec_miss_event_move_x::after {
    background: url('../../images/special_missions/move_x.png');
    background-size: 90% 90%;
    background-position: center center;
    background-repeat: no-repeat;
}

.spec_miss_event_move_y::after {
    background: url('../../images/special_missions/move_y.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.spec_miss_event_battle {
    background: #db802b;
}

.spec_miss_event_battle::after {
    background: url('../../images/special_missions/battle.png');
    background-size: 90% 90%;
    background-position: center center;
    background-repeat: no-repeat;
}


.spec_miss_event_battle_win {
    background: #4ad44a;
}

.spec_miss_event_battle_win::after {
    background: url('../../images/special_missions/battle_win.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.spec_miss_event_battle_lose {
    background: #cc2a2a;
}

.spec_miss_event_battle_lose::after {
    background: url('../../images/special_missions/battle_lost.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.spec_miss_event_mission_home {
    background: #428bcf;
}

.spec_miss_event_mission_home::after {
    background: url('../../images/special_missions/mission_home.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.spec_miss_event_mission_complete {
    background: #4ad44a;
}

.spec_miss_event_mission_complete::after {
    background: url('../../images/special_missions/mission_success.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.spec_miss_event_mission_failed {
    background: #cc2a2a;
}

.spec_miss_event_mission_failed::after {
    background: url('../../images/special_missions/mission_failed.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.spec_miss_event_mission_reward {
    background: #d4d24a;
}

.spec_miss_event_mission_reward::after {
    background: url('../../images/special_missions/mission_reward.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.spec_miss_event_start {
    background: #4ad44a;
}

.spec_miss_event_start::after {
    background: url('../../images/special_missions/start.png');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
/* private messages */

#inbox_new_container {
	width: 95%;
	margin: 20px auto 0 auto;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#content #inbox_new {
	box-sizing: border-box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	position: relative;
	height: 42px;
	line-height: 42px;
	width: 42px;
	padding-left: 42px;
	overflow: hidden;

	/** styling **/
	background: var(--theme-content-bg-color);
	border-top: 1px solid var(--theme-content-darker2-bg-color);
	border-left: 1px solid var(--theme-content-darker2-bg-color);
	border-right: 1px solid var(--theme-content-darker2-bg-color);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#content #inbox_new:hover span {
	padding-right: 12px;

	/** styling **/
	/* color: var(--theme-text-color-dark); */
	transition: color 50ms 80ms ease-in-out;
}

#content #inbox_new:hover {
	animation: convo_new_grow 200ms ease-in-out forwards;
}

#inbox_new::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 6px;
	transform: translate(0%, -50%);
	width: 32px;
	height: 32px;

	/** styling **/
	background: url('./images/pm-new-off.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#content #inbox_new:hover::before {
	animation: convo_new_spin 1600ms ease-in-out infinite;
}

#content #inbox_new span {
	display: block;
	overflow: hidden;
	color: #303030;
}

@keyframes convo_new_spin {
	0% {
		transform: translate(0%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(0%, -50%) rotate(180deg);
	}
}

@keyframes convo_new_grow {
	0% {
		width: 45px;
	}

	100% {
		width: 200px;
	}
}

#inbox_container {
	width: 95%;
	margin: 0 auto 10px auto;
	min-height: 629px;
	display: flex;
	flex-flow: row nowrap;

	/** styling **/
	background: var(--theme-content-bg-color);
	border: 1px solid var(--theme-content-darker2-bg-color);
	box-shadow: 0 0 2px #000000;
}

#inbox_convo_list_container {
	width: 35%;

	/* styling */
	border-right: 1px solid var(--theme-content-darker2-bg-color);
}

#inbox_convo_list_title_container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	height: 55px;
	line-height: 55px;
	padding: 0 10px;

	/* styling */
	background: #4090D0;
	border-bottom: 1px solid var(--theme-content-darker2-bg-color);
}

#inbox_convo_list_title {
	/* styling */
	color: #202020;
	font-size: 1.2rem;
	font-weight: bold;
}

#inbox_convo_list_count {
	/* styling */
	color: #202020;
	font-weight: bold;
}

#inbox_convo_list,
#inbox_convo_container,
#inbox_convo_details_container {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 594px;
	scrollbar-width: thin;

	/* styling */
	scrollbar-color: #332a2e var(--theme-content-bg-color);
}

#inbox_convo_list::-webkit-scrollbar,
#inbox_convo_container::-webkit-scrollbar,
#inbox_convo_details_container::-webkit-scrollbar {
	width: 5px;
	height: 5px;

	/* styling */
	background-color: var(--theme-content-bg-color);
}

#inbox_convo_list::-webkit-scrollbar-thumb,
#inbox_convo_container::-webkit-scrollbar-thumb,
#inbox_convo_details_container::-webkit-scrollbar-thumb {
	background-color: #332a2e;
}

.inbox_convo_list_container {
	display: flex;
	flex-flow: row nowrap;
	cursor: pointer;
	position: relative;
	z-index: 2;

	/* styling */
	border-bottom: 1px solid var(--theme-content-darker2-bg-color);
	transition: all 200ms ease;
}

.inbox_convo_list_container_selected {
	/* styling */
	background: var(--theme-content-darker2-bg-color);
}

.inbox_convo_avatar {
	width: 85px;
	height: 65px;
	padding: 5px 5px 5px 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	position: relative;
}

.inbox_convo_avatar img {
	width: 45px;
	height: 45px;

	border-radius: 100px;
}

.inbox_convo_avatar img:nth-of-type(2) {
	display: none;
	transform: translate(30%, 0%);
	position: absolute;

	/* styling */
	border: 2px solid var(--theme-content-darker2-bg-color);
}

.inbox_convo_avatar img:only-child {
	position: relative;
	transform: translateX(0);

	/* styling */
	border: 1px solid var(--theme-content-darker2-bg-color);
}

.inbox_convo_title {
	width: calc(50%);
	line-height: 70px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	/* styling */
	color: #303030;
	font-size: 0.8rem;
}

.inbox_convo_lastmessage {
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	/* styling */
	font-size: 9px;
}

.inbox_convo_unread {
	width: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inbox_convo_unread div {
	width: 6px;
	height: 6px;
	border-radius: 22px;

	/* styling */
	background: #36ac27;
}

#inbox_convo_main_container {
	width: 65%;
	position: relative;
}

#inbox_convo_main_placeholder {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	/* styling */
	font-size: 1.4rem;
	text-transform: uppercase;
}

#inbox_convo_main_controls_container {
	width: 100%;
	min-height: 55px;
	display: flex;
	flex-flow: row nowrap;

	/* styling */
	background: #4090D0;
}

#inbox_convo_main_controls_textbox {
	flex-grow: 1;
	padding: 10px;
	position: relative;
}

#inbox_convo_textbox {
	width: 70%;
	padding: 5px 45px 5px 5px;
	display: inline-block;
	border-radius: 4px;

	/* styling */
	min-height: 25px;
	background: var(--theme-content-bg-color);
	font-size: 0.9rem;
}

#inbox_convo_textbox_characters_remaining {
	position: absolute;
	right: 0px;
	top: 5px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;

	/* styling */
	color: #202020;
	font-size: 0.8rem;
}

#inbox_convo_main_controls_submit {
	width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#inbox_convo_textbox_submit {
	width: 24px;
	height: 24px;
	cursor: pointer;

	/* styling */
	background: url('./images/pm-send-off.png') center;
	background-repeat: no-repeat;
	background-size: 90% 90%;
}

#inbox_convo_textbox_submit:hover {
	/* styling */
	background: url('./images/pm-send-on.png') center;
	background-repeat: no-repeat;
	background-size: 90% 90%;
}

#inbox_convo_main_controls_details {
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#inbox_convo_details_close {
	height: 55px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.inbox_convo_details_close_button {
	cursor: pointer;
	padding: 10px 10px;

	/* styling */
	font-weight: bold;
}

.inbox_convo_controls_details_button {
	width: 24px;
	height: 24px;
	cursor: pointer;
	margin-right: 8px;

	/* styling */
	background: url('./images/pm-details-off.png') center;
	background-repeat: no-repeat;
	background-size: 90% 90%;
}

.inbox_convo_controls_details_button:hover {
	/* styling */
	background: url('./images/pm-details-on.png') center;
	background-repeat: no-repeat;
	background-size: 90% 90%;
}

#inbox_convo_container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	overflow-anchor: none;
}

#inbox_convo_more_container {
	width: 100%;
	margin-top: auto;
	padding: 2px 2px 0 0;
}

#content #inbox_convo_more_button {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: left;
	text-indent: 10px;

	/* styling */
	text-decoration: none;
	font-weight: normal;
}

.inbox_message {
	display: flex;
	flex-flow: row nowrap;

	/* styling */
	border: none;
	border-bottom: 1px solid var(--theme-content-darker2-bg-color);
}

.inbox_message_self {
	position: relative;

	/* styling */
}

.inbox_message_self::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 100%;

	/* styling */
	background: var(--theme-content-darker2-bg-color);
}

.inbox_message_avatar {
	width: 125px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.inbox_message_avatar img {
	width: 75px;
	height: 75px;
	border-radius: 200px;

	/* styling */
	border: 2px solid var(--theme-content-darker2-bg-color);
}

.inbox_message_container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}

.inbox_message_sender {
	height: 35px;
	flex-grow: 2;
	display: flex;
	align-items: flex-end;
	text-indent: 5px;

	/* styling */
	font-size: 1.1rem;
}

.inbox_message_timestamp {
	width: 90px;
	justify-content: flex-end;
}

.inbox_message_timestamp,
.inbox_message_report {
	height: 25px;
	line-height: 25px;
	display: flex;
	align-items: flex-end;


	/* styling */
	color: #616354;
	font-size: 0.7rem;
}

.inbox_message_report {
	width: 40px;
	justify-content: center;
}

#content .inbox_message_report a {
	color: #616354a8;
	text-decoration: none;
	font-weight: normal;
}

#content .inbox_message_report a:hover {
	/* styling */
	color: #000;
}

.inbox_message_content {
	width: 100%;
	min-height: 40px;
	display: flex;
	align-items: center;
	padding: 5px 5px 5px 5px;
	margin: 0;
	font-size: 0.9rem;

}

.inbox_message_content pre {
	height: auto;
	max-width: 100%;
	display: block;

	white-space: pre-wrap;
	/* Since CSS 2.1 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
	/* Internet Explorer 5.5+ */

	/* styling */
	font-family: 'Lucida', sans-serif;
}

#inbox_convo_details_container,
#inbox_new_convo_container {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;

	/* styling */
	background: var(--theme-content-bg-color);
}

#inbox_new_convo_container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	row-gap: 5%;
}

#content #inbox_new_convo_container input,
#content #inbox_new_convo_container textarea,
#content #inbox_new_convo_container button {
	width: 80%;
}

#content #inbox_new_convo_container textarea {
	height: 200px;
}

#inbox_convo_details_members_container {
	display: flex;
	flex-flow: row wrap;
}

.inbox_convo_details_title {
	width: 100%;
	padding: 10px 10px;

	/* styling */
	color: #202020;
	font-weight: bold;
	font-size: 1.1rem;
	background: #4090D0;
}

.inbox_convo_details_member {
	width: calc(50% - 2px);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	/* styling */
	border-bottom: 1px solid var(--theme-content-darker2-bg-color);
	border-right: 1px solid var(--theme-content-darker2-bg-color);
}

.inbox_convo_details_member_avatar {
	width: 55px;
	padding: 10px;
}

.inbox_convo_details_member_avatar img {
	width: 45px;
	height: 45px;
	border-radius: 200px;

	/* styling */
	border: 2px solid var(--theme-content-darker2-bg-color);
}

.inbox_convo_details_member_name {
	flex-grow: 1;

	/* styling */
	font-size: 1rem;
}

.inbox_convo_details_member_actions {
	width: 80px;
	display: flex;
	justify-content: flex-end;
	padding: 0 10px;
}

.inbox_convo_details_member_remove {
	width: 24px;
	height: 24px;

	/* styling */
	background: url('./images/pm-details-close-off.png');
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: center;
}

.inbox_convo_details_member_remove:hover {
	/* styling */
	background: url('./images/pm-details-close-on.png');
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: center;
}

/* #inbox_convo_details_actions_container {

} */

.inbox_convo_details_action {
	padding: 20px 0;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.inbox_convo_details_action div {
	width: 40%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.inbox_convo_details_action div input,
.inbox_convo_details_action div button {
	width: 100%;
}

/* temp maybe */
.systemMessage-new {
	position: relative;
	right: 2px;
	display: inline-block;
	text-align: center;
	padding: 6px 15px 5px 35px;

	border-radius: 4px;

	/* styling */
}

.systemMessage-new::before {
	content: '';
	width: 24px;
	height: 24px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 5px;
}

.systemMessage-new-success {
	background: #5fb463;
	border: 1px solid #47994b;

	color: #18501b;
}

.systemMessage-new-error {
	background: #e46262;
	border: 1px solid #c44949;

	color: #440c0c;
}

.systemMessage-new-alert {
	background: #e1e457;
	border: 1px solid #c1c43f;

	color: #5b5c13;
}

.systemMessage-new-info {
	background: #66cee0;
	border: 1px solid #46acbe;

	color: #125763;
}

.systemMessage-new-success::before {
	background: url('./images/new-message-success.png') no-repeat center;
	background-size: 100% 100%;
}

.systemMessage-new-error::before {
	background: url('./images/new-message-error.png') no-repeat center;
	background-size: 70% 70%;
}

.systemMessage-new-alert::before {
	background: url('./images/new-message-alert.png') no-repeat center;
	background-size: 70% 70%;
}

.systemMessage-new-info::before {
	background: url('./images/new-message-info.png') no-repeat center;
	background-size: 70% 70%;
}