HTML{
	width: 100%;
	display: block;

	font-family: arial;

	text-align: center;
}
img{
	display: inline-block;
	/* width: 100%; */
}
Body{
	color: white;
	margin: 0px;
	padding: 0px;
	background-color: rgba(0,0,0,1);
	font-size: 1em;
}
ul{
	padding-left: 0px;
	padding: 0px;
	margin: 0px;
}
p{
	font-size: 1em;
}
b{
	width: 100%;
	display: none; /*Hides warning messages*/
}
a{
	color: rgba(220,220,220,1);
}
a:hover{
	color: white);
}

#container{
	display: grid;
	grid-template-columns: 0.10fr 1fr;
}

#sidebar {
	position: static;
}
#chatMessage{
	width: 100% !important;
	height: 30% !important;

	font-size: 1.2em !important;
}

#notifications{
	diplay: block;
	text-align: center;
	margin: 0.5em;
}

#header img{
	width: 100%;
}

#menu{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: auto;
}

.buttonList a{
	display: block;
	padding: 1em 0em;

	text-decoration: none;
	border: 1px solid white;
	font-weight: bold;

	background-color: rgba(75,75,75, 1);
}

.topMenu{
	display: block;
	width: 100%;
	font-size: 0.7em;

	overflow: hidden;
	height: 0px;

	cursor: pointer;
}
.topMenu li{
	display: block;
	float: none;
	text-align: left;
	width: 100%;
	margin: 0px;
}

.topMenu li a{
	display: block;
	background-color: rgba(40,40,40,1);

	border-style: solid;
	border-color: white;
	border-bottom: none;
	border-width: 1px;


	padding: 0.5em 0em;
	/* margin: 0em 0.5em; */
}
.topMenu li a:hover{
	background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(82,82,82,1) 38%, rgba(40,40,40,1) 100%);
}
/*when topMenu gets the class {.open} applied*/
.topMenu.open{
	height: auto;
}

.menuTouchItem{
	/* display: inline-block; */
}

#player_menu{
	height: 0;
	overflow: hidden;
}
#player_menu.open{
	height: auto;
}

#character_menu.open{
	height: 0;
	overflow: hidden;
}
#character_menu.open{
	height: auto;
}

#travel_menu{
	height: 0;
	overflow: hidden;
}

#travel_menu.open{
	height: auto;
}

#staff_menu{
	height: 0;
	overflow: hidden;
}

#staff_menu.open{
	height: auto;
}

#travel_menu{
	height: 0;
	overflow: hidden;
}

#travel_menu.open{
	height: auto;
}

#action_menu{
	height: 0;
	overflow: hidden;
}

#action_menu.open{
	height: auto;
}

ul.submenu{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* grid-column-gap: 0.25fr; */
}

.submenu{
	display: inline-block;
	text-align: center;
	font-size: 1em;
	width: 100%;
}
.submenu li{
	display: block;
	text-align: center;
	width: 90% !important;
	margin: 0.5em auto;
	list-style: none;
	/* padding: 0.2em 0em; */
}
.submenu li a{
	display: block;
	width: 100%;
	padding: 0.5em 0.3em;
	margin: 0em auto;
	text-decoration: none;
	background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(62,62,62,1) 38%, rgba(40,40,40,1) 100%);
}
.submenu li a:hover{
	background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(82,82,82,1) 38%, rgba(40,40,40,1) 100%);
}


.table{
	display: block;
	width: 95%;
	margin: 1em auto 6em auto;
	/* background-color: rgba(27, 56, 31, 1);*/ /*green*/
	background-color: rgba(79, 33, 29, 1); /*red*/
	border-radius: 20px 20px 10px 10px;

	overflow: scroll;

	/*xpos ypos spread color*/
	box-shadow: 0em 0em 2em rgba(27, 56, 31, 0.9);
}

.travelContainer{
	overflow: scroll;
	height: auto;

}
.mapContainer{
	display: inline-block;
	width: unset;
	max-width: unset;
}

.map{
	background-size: auto;
}
.map tbody{
	display: grid !important;
	grid-template-rows: 1fr;
	min-width: auto;
}

.map tbody tr{
	display: grid !important;
	grid-template-columns: repeat(18, 1fr);
	grid-column-gap: 0.25em;

	margin: 0.05em 0em;
}

.map tbody tr td{
	display: inline-block;
	height: 33px;
	width: 33px;
	margin: 0px;
	background-color: rgba(25,25,25, 0.15);
}

#buttonContainer{
	display: grid;
	height: auto;

	grid-template-areas:
	"north north"
	"west  east"
	"south south";
}
.north{
	grid-area: north;
}
.east{
	grid-area: east;
}
.west{
	grid-area: west;
}
.south{
	grid-area: south;
}

.travelButton{
	margin: 1em 0.5em !important;
	border: 2px solid white;
	background-color: rgba(255,255,255,0.3) !important;
}

.table tbody{
	display: inline-block;
	margin: 0px auto;
	width: 100%;
	font-size: 0.90em;
}
.table tr{
	margin: 0.2em 0.3em;
}
.table tr td{
	display: inline-block;
	width: 90%;
	margin: .5em 0;
	padding: 1em 0;
	border-radius: 10px 10px 10px 10px;

	font-size: 1.3em;

	background-color: rgba(20,20,20, 0.7);
}
.table th a{
	display: inline-block;
	padding: 0.5em;
}
.table a{
	display: block;
	text-decoration: none;
	padding: 0.8em 0.5em;
	background: linear-gradient(0deg, rgba(15,15,15,1) 0%, rgba(20,20,20,1) 23%, rgba(49,62,56,0.7) 38%, rgba(25,25,25,1) 100%);
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 4px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.6);

}

.profile_table{
	padding: 0px;
	margin: 1em auto 4em auto;
}
.profile_table td{
	display: block;
	width: 100% !important;
	margin: 0px auto;
	font-size: 1em;
}
.profile_table tbody{
}

.header{
	display: block;
	font-size: 1em;
	padding: 1em 0em;
	background-color: rgba(40,40,40,1);
}

.contentHeader{
	font-size: 1.2em;
	font-weight: bold;

	padding: 0.5em 0em;
	background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(20,20,20,1) 23%, rgba(49,62,56,0.7) 38%, rgba(40,40,40,1) 100%);
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 0.8em;
}

.button{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 80%;
}


#socialPost{
	display: inline-block;
}
#socialPost table{
	padding: 0.1em;
}
#socialPosts tbody{
	display: inline;
	font-size: 1em;
	width: 100%;
}
#socialPosts tr a{

}
#socialPosts div{
	display: inline-block;
	width: 100%;
}
#socialPosts tr td{
	display: inline-block;
}
.chatmsg{
	font-size: 1.2em;
	padding: 2em 0em !important;
}
#user_data_container{
	display: grid !important;
	grid-template-columns: 0.3fr 0.7fr;

}
#user_data_container a{
	background: none;
	border: none;
	box-shadow: none;
	padding: 0.1em 0em;
}

#user_data_container div{
	display: grid;
	align-content: space-evenly;
	justify-content: center;
}
.chatmsg{
	background-color: rgba(255,255,255,0.06) !important;
}
#socialPosts a{
	background: none;
	border: none;
	box-shadow: none;
}
#socialPosts tr{
	width: 95%;
	/* width: auto; */
	background-color: rgba(50,50,50,1);
	padding: 1em 0em;
}

#socialPosts td{
	padding: 0.1em 0em;
	margin: 0.1em 0em;
}


.submenumargin{
	display: inline-block;
}

.logout{
	margin: 0.2em 0em;
}
.logout a{
	display: block;
}

#handseals{
	display: inline-block;
	width: 90%;
}
#handseals p{
	display: inline-block;
}

#jutsu p{
	overflow: hidden;
}

.jutsuName{
	color: black;
	font-size: 0.65em;
	padding: 0.15em 0em !important;
	border-radius: 0px !important;
}

#jutsu input{
	padding: 0.3em 0.1em;
	/* border-radius: 5px; */
}

#jutsu span{
	/* border-radius: 5px; */
	margin: 0.1em 0.5em;
	/* padding: 0.5em 0.2em; */
}

/*Equipment*/
#jutsu_scrolls div{
	display: grid;
	/* width: 100%; */
	overflow: scroll;

	margin-left: 0.2em !important; /*override default div styling*/
	margin: 1em 0em;

	grid-template-columns: auto auto;
	grid-template-rows: repeat(auto-fill, auto);

	grid-column-gap: 0.5em;
	grid-row-gap: 0.3em;
	justify-items: start;
	text-align: left !important;
}

#jutsu_scrolls br{
	display: none;
}

#jutsu_scrolls p{
	display: block;
	width: auto !important; /*//overwrites the inline for jutsu descriptions */
	/* text-align: center !important; */
}

#jutsu_scrolls a{
	text-align: center;
}

/*Travel Page*/
#scoutTable .scrollable{
	overflow: scroll;
}


/*Table Custom CSS*/
/* //multiple columns of about 5 item */
.table_multicolumns{
	display: grid;
	grid-template-columns: 1fr 0.75fr 0.5fr 0.5fr 0.3fr;
	grid-template-rows: 1fr;

	align-items: center;

	font-size: 0.75em;
}

.table_multicolumns td{
	width: 100% !important;
	height: auto;
	margin: auto 0em;
	padding: 0em;
	justify-content: center;
	background-color: transparent !important;
}

/* #jutsu{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
#jutsu p{
	display: inline-block;
	width: 25%!important;
} */

tbody{
	display: block;
	margin: 0em auto;
}
/*Separates menu items*/
hr{
	margin: 2em 0em;
}

/*UNIVERSAL*/

label{
	text-align: left;
}

/*health bars*/
td div{
	margin: 0.5em auto;
	display: block;
}
td div div{
	margin: 0px;
	padding: 0.2em 0.1em;
	width:70%;
}
/*health bars*/

tr{
	display: block;
	text-align: center;
}

input{
	display: inline;
	padding: 0.2em 0.2em;
	font-size: 0.8em;
	margin: 0.2em 0em;
	border-radius: 10px 10px 10px 10px;

	background-color: white;

	width: 100% !important;
}

form{
	margin: 1em 1.5em;
	text-align: left;
	font-size: 1.2em;
}

textarea{
	width: 100% !important;

	background-color: white;
}

th{
	padding: 1em;
	font-size: 1.2em;
}

td label{
	display: inline-block;
	/* padding: 0em 0.3em; */
	width: auto !important;
}

select{
	display: inline;
	padding: 0.2em 0.2em;
	width: 80%;
	font-size: 1em;

	background-color: white;
}

.systemMessage{
	color: rgba(240,240,20, 1);
}
.systemMessage {
  animation: blinker 1.5s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.25;
  }
}
