HTML{
	width: 100%;
	display: block;

	font-family: arial;

	text-align: center;
}
img{
	display: inline-block;
	/* width: 100%; */
}
Body{
	color: white;
	margin: 0px;
	padding: 0px;
	padding-bottom: 50px; /*Due to Menu stuck at bottom*/
	background-image: url("./images/temp-background-lowquality.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: rgba(0,0,0,1);
	font-size: 1em;
}
ul{
	padding-left: 0px;
	padding: 0px;
	margin: 0px;
}
p{
	font-size: 1em;
}
b{
	/* width: 100%; */
	display: none; /*Hides warning messages*/
}
a{
	color: rgba(220,220,220,1);
}
a:hover{
	color: white);
}

table{
	color: rgba(255,255,255,0.76) !important;
}

#container{
	display: grid;
	/* grid-template-columns: 0.10fr 1fr; */
}

#sidebar {
	z-index: 99;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	min-width: 50px;
}

#chat_table{
	margin: 1em auto;
}
#chat_table textarea{
	height: 20%;
}
#chatSubmit{
	padding: 0.5em 0em;
}
#chatMessage{
	width: 100% !important;
	height: 30%;

	font-size: 1.2em !important;
}

#notifications{
	diplay: block;
	text-align: center;
	margin: 0.5em;
}

#header img{
	display: none;
	width: 100%;
}

#menu{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: auto;
}

.buttonList{
	position: absolute;
	width: 33%;
}

.buttonList a{
	display: block;
	padding: 1em 0em;

	text-decoration: none;
	border: 3px solid rgba(140, 140, 140);
	border-bottom: 0px;
	font-weight: bold;

	background-color: rgba(75,75,75, 1);
}

.topMenu{
	display: block;
	width: 100%;
	font-size: 0.9em;

	overflow: hidden;
	height: 0px;

	cursor: pointer;

	/* margin: 0em 0em 1em 0em; */
}
.topMenu li{
	display: block;
	float: none;
	text-align: left;
	width: 100%;
	margin: 0px;
}

.topMenu li a{
	display: block;
	background-color: rgba(40,40,40,1);

	border-style: solid;
	border-color: white;
	/* border-bottom: none; */
	border-width: 1px;

	text-align: center;

	padding: 0.8em 0em;
	/* margin: 0em 0.5em; */
}
.topMenu li a:hover{
	background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(82,82,82,1) 38%, rgba(40,40,40,1) 100%);
}
/*when topMenu gets the class {.open} applied*/
.topMenu.open{
	height: 220px;
	position: fixed;
	top: 0;
	bottom: 0;
}

.menuTouchItem{
	display: inline;
	position: fixed;
	bottom: 60;
	right: 10;
	height: 50px !important;
	width: 50px !important;
}

#newstable td{
	text-align: left;
	padding: 1em 0.7em;
}

#newsfooter{
	margin: 1em 0em 0em 0em;
}

.newsfooter{
	width: 100% !important;
	border-radius: 0px !important;
	padding: 0.6em 0em !important;

	color: rgba(255,255,255,0.75);

	text-align: right;

	height: 15px;
	margin: 0em 0em !important;
}

#player_menu{
	height: 0;
	overflow: hidden;
}
#player_menu.open{
	height: auto;
	bottom: 100%; /* makes list appear above instead of below */
}

#character_menu.open{
	height: 0;
	overflow: hidden;
}
#character_menu.open{
	height: auto;
	bottom: 100%; /* makes list appear above instead of below */
}

#travel_menu{
	height: 0;
	overflow: hidden;
}

#travel_menu.open{
	height: auto;
	bottom: 100%; /* makes list appear above instead of below */
}

#staff_menu{
	height: 0;
	overflow: hidden;
	bottom: 100%; /* makes list appear above instead of below */
}

#staff_menu.open{
	height: auto;
}

#travel_menu{
	height: 0;
	overflow: hidden;
}

#travel_menu.open{
	height: auto;
}

#action_menu{
	height: 0;
	overflow: hidden;
}

#action_menu.open{
	height: auto;
	bottom: 100%; /* makes list appear above instead of below */
}

ul.submenu{
	display: grid;
	/* grid-template-columns: repeat(3, 1fr); */
	grid-auto-flow: row;
	/* grid-column-gap: 0.25fr; */
}

.submenu{
	display: inline-block;
	text-align: center;
	font-size: 1em;
	margin: 0em auto;
	width: 100%;
}
.submenu li{
	display: block;
	text-align: center;
	width: 90% !important;
	list-style: none;
	padding: 0.2em 0em;
	margin: 0em auto;
}
.submenu li a{
	display: block;
	width: 100%;
	padding: 0.5em 0.3em;
	margin: 0em auto;
	text-decoration: none;
	/* background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(62,62,62,1) 38%, rgba(40,40,40,1) 100%); */
	background-color: rgba(40, 40, 40);
	border-radius: 5px;
}
.submenu li a:hover{
	background: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(82,82,82,1) 38%, rgba(40,40,40,1) 100%);
}


.table{
	display: block;
	width: 95%;
	margin: 1em auto 3em auto;
	/* background-color: rgba(27, 56, 31, 1);*/ /*green*/
	background-color: rgba(79, 33, 29, 1); /*red*/
	border-radius: 10px 10px 0px 0px;

	color: rgba(255,255,255, 0.86);

	overflow: scroll;

	/*xpos ypos spread color*/
	box-shadow: 0em 0em 2em rgba(27, 56, 31, 0.9);
}

.travelContainer{
	overflow: scroll;
	height: auto;

}
.mapContainer{
	display: inline-block;
	width: unset;
	max-width: unset;
}

.map{
	background-size: auto;
}
.map tbody{
	display: grid !important;
	grid-template-rows: 1fr;
	min-width: auto;
}

.map tbody tr{
	display: grid !important;
	grid-template-columns: repeat(18, 1fr);
	grid-column-gap: 0.25em;

	margin: 0.05em 0em;
}

.map tbody tr td{
	display: inline-block;
	height: 33px;
	width: 33px;
	margin: 0px;
	background-color: rgba(25,25,25, 0.15);
}

#buttonContainer{
	display: grid;
	height: auto;

	grid-template-areas:
	"north north"
	"west  east"
	"south south";
}
.north{
	grid-area: north;
}
.east{
	grid-area: east;
}
.west{
	grid-area: west;
}
.south{
	grid-area: south;
}

.travelButton{
	margin: 1em 0.5em !important;
	border: 2px solid white;
	background-color: rgba(255,255,255,0.3) !important;
}

.table tbody{
	display: inline-block;
	margin: 0px auto;
	width: 100%;
	font-size: 0.90em;
}
.table tr{
	margin: 0.5em auto;
	display: grid;
	/*change this to column vvv for larger screen sizes*/
	grid-auto-flow: row;
	justify-content: space-around;
}
.table tr td{
	display: block;
	margin: .5em 0;
	padding: 0.5em 1em;
	overflow: scroll;
	border-radius: 5px 5px 5px 5px;

	width: 100%;

	font-size: 1.1em;
	text-align: left;

	background-color: rgba(20,20,20, 0.1);
}

.table th a{
	display: inline-block;
	padding: 0.5em;
}
.table a{
	display: block;
	text-decoration: none;
	font-size: 0.8em;
	padding: 0.4em 0.2em;
	background: linear-gradient(0deg, rgba(15,15,15,1) 0%, rgba(20,20,20,1) 23%, rgba(49,62,56,0.7) 38%, rgba(25,25,25,1) 100%);
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 4px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.6);

}

.profile_table{
	padding: 0px;
	margin: 1em auto 4em auto;
}
.profile_table td{
	display: block;
	width: 90% !important;
	margin: 0px auto;
	font-size: 1em;
}
.profile_table tbody{
}

/*Profile Daily Tasks*/
.contentDiv{
	background-color: #06404C;
	padding: 1em 0.5em;
	text-align: left;
}
.contentDiv h2{
	text-align: center;
}

.dailyTask{
	margin: 1.75em 0em;
}

.dailyTaskTitle{
	font-size: 28px;
}

.dailyTaskGoal:nth-child(2){
	font-weight: bold;
}

.dailyTaskProgress{
	display: grid;
	width: 100%;
	height: 20px;
	border: 2px solid #39545c;
	border-radius: 50px;
}

.dailyTaskProgressBar div{
	height: 20px;
	background-color: #4fb052;
	border: 0px solid white;
	border-radius: 50px;
}

.dailyTaskProgressCaption{
	text-align: center;
}

.contentDivCaption{
	font-weight: bold;
}

/*Special Mission Page*/
/*Hopefully class name is only on this page and no where else hehehehe*/
/*i'm gonna leave it very bare bone just in case*/
.contentDiv{
	display: grid;
	grid-auto-flow: row;
}
.contentDiv a button{
	width: 100%;
	padding: 1em 0em;
	margin: 0.5em 0em;
}
/*Special Mission Page*/
/*Special Missions - status page thing*/
#spec_miss_wrapper{
	background-color: #06404C;
}
#spec_miss_header{
	padding: 1em 0em;
	margin: 1.5em 0em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #15242e;
}
#spec_miss_cancel_wrapper{
	padding: 1em 0em;
}
#spec_miss_cancel{
	font-weight: bold;
}

.spec_miss_log_entry{
	padding: 0.5em 0em;
	border-top: 1px;
	border-bottom: 1px;
	border-right: 0px;
	border-left: 0px;
	border-color: #6c7ba1;
	border-style: solid;
}
/*Special Missions - status page thing*/

/*Members Page*/
#members_table tbody tr:nth-child(2){
	grid-auto-flow: column;
}

#members_team_table  tbody tr:nth-child(2){
	grid-auto-flow: column;
}

#team_team_title{
	font-size: 1.5rem;
}

#team_teamMembers_row{
	grid-auto-flow: column;
}

/*View Battles Page*/
#viewBattles_headers{
	grid-auto-flow: column;
}

/*Spar Page*/
#scoutArea_headers{
	grid-auto-flow: column;
}

.header{
	display: block;
	font-size: 1em;
	padding: 1em 0em;
	background-color: rgba(40,40,40,1);
	border: 1px solid white rgba(255,255,255, 0.4);
	border-left: 1px solid rgba(80,80,80);
	border-right: 1px solid rgba(80,80,80);
	border-top: 1px solid rgba(40,40,40);
	border-radius: 7px 7px 0px 0px;
}

.contentHeader{
	font-size: 1.5em;
	font-weight: bold;

	padding: 0.5em 0em;
	border: 1px solid rgba(255,255,255,0.5);
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 0.8em;
}

.button{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 80%;
}


#socialPost{
	display: inline-block;
}
#socialPost table{
	padding: 0.1em;
}
#socialPosts tbody{
	display: inline;
	font-size: 1em;
	width: 100%;
}

#chat_input_table{
	margin: 1em auto;
}
/*Sorry there's 2 of these*/
.chat_msg{
	display: grid !important;
	grid-template-columns: 1fr 3fr 1fr;
	width: 98% !important;
	margin: 1.5em auto !important;
}

/*chat profile data bar*/
.chat_msg td:nth-child(1){
	grid-column: 1 / 4;
	width: 100%;
}
/*chat Report Bar*/
.chat_msg td:nth-child(3){
	/* grid-column: 1 / 4; */
	width: 100%;
	font-size: 0.9em;
}
.chat_msg td{
	height: 100%;
}
#socialPosts tr a{

}
#socialPosts div{
	display: inline-block;
	width: 100%;
}

/*TextArea in Chat*/
.chatmsg{
	font-size: 1.2em;
	align-items: center;
	grid-column: 1 / span 2;
	padding: 0.5em 0em 0em 0.5em !important;
	overflow: scroll !important;
}
#user_data_container{
	display: grid !important;
	grid-template-columns: 0.3fr 0.7fr;
	grid-template-rows: 1.5fr;
	margin: 0.1em 0em;
}
#user_data_container a{
	background: none;
	border: none;
	box-shadow: none;
	padding: 0.1em 0em;
}

#user_data_container div{
	display: grid;
	align-content: space-evenly;
	justify-content: center;
}

/*Journal*/
#journal{
	overflow: scroll;
}
#journal img{
	width: 100%;
}

/*Profile Page user sees when visiting another profile*/
#viewprofile tbody tr:nth-child(3){
	display: grid;
	justify-items: center;
}

#viewprofile tbody tr td{
	width: 100% !important;
}

.staffMember{
	margin: 0.1em 0em;
}
.chatmsg{
	background-color: rgba(255,255,255,0.06) !important;
	text-align: left !important;
	padding-left: 10px;
	height: auto;
	max-height: 400px;
	overflow: scroll;
}

#socialPosts a{
	background: rgba(40, 40, 40);
	border-radius: 5px 5px;
	padding: 10px;
	border: none;
	box-shadow: none;
}
#socialPosts tr{
	width: 95%;
	grid-auto-flow: column;
	/* width: auto; */
	background-color: rgba(50,50,50,1);
	padding: 0.3em 0em;
}

#socialPosts td{
	padding: 0.1em 0em;
	margin: 0.1em 0em;
}


.submenumargin{
	display: inline-block;
}

.logout{
	margin: 0.2em 0em;
}
.logout a{
	display: block;
}

#handSeal_td{
	text-align: center; /*important*/
}

#handseals{
	display: inline-block;
	width: 90%;
	text-align: center !important; /*important*/
}
#handseals p{
	display: inline-block;
	text-align: center !important;
}

#weapons{
	display: inline-block;
	width: 90%;
	margin: 0em auto;
}
#weapons p{
	min-width: 15px;
	font-size: 0.8em;
	display: inline-block;
}

#jutsu p{
	overflow: hidden;
}

.jutsuName{
	color: black;
	font-size: 0.65em;
	padding: 0.15em 0em !important;
	border-radius: 5px !important;
}

#jutsu input{
	padding: 0.3em 0.1em;
}

#jutsu span{
	/* border-radius: 5px; */
	margin: 0.1em 0.5em;
	/* padding: 0.5em 0.2em; */
}

/*Equipment*/
#jutsu_scrolls div{
	display: grid;
	/* width: 100%; */
	overflow: scroll;

	margin-left: 0.2em !important; /*override default div styling*/
	margin: 1em 0em;

	grid-template-columns: auto auto;
	grid-template-rows: repeat(auto-fill, auto);

	grid-column-gap: 0.5em;
	grid-row-gap: 0.3em;
	justify-items: start;
	text-align: left !important;
}

#jutsu_scrolls br{
	display: none;
}

#jutsu_scrolls p{
	display: block;
	width: auto !important; /*//overwrites the inline for jutsu descriptions */
	/* text-align: center !important; */
}

#jutsu_scrolls a{
	text-align: center;
}

/*gear equipment*/


/*Travel Page*/
#scoutTable .scrollable{
	overflow: scroll;
}

#scoutTable tbody tr:nth-child(4){
	grid-auto-flow: column;
}
/*Travel Page*/

.table_multicolumns{
	grid-auto-flow: column;
}
.table_multicolumns a{
	text-align: center;
}

#shop_table_header{
	grid-auto-flow: column;
}


/*Do not use this for 3 grid rows I messed up rename this fr*/
.villageView{
	display: grid !important;
	grid-template-columns: repeat(3, 1fr);
	width: auto !important;
	/* grid-column-gap: 4em; */
	text-align: left;
	font-size: 0.8em !important;
	align-items: center;
	justify-content: center;
	justify-items: center;
	margin: 0em 4em;
}
.villageView div{
	width: auto !important;
}
.fourColGrid{
	 display: grid;
	 grid-template-columns: repeat(4, 1fr);
	 align-items: center;
}

#villagemembertd td{
	width: 100% !important;
}

#villages td{
	width: 100% !important;
}

#kunaiExchange{

}

/*Table Custom CSS*/
/* //multiple columns of about 5 item */
.table_multicolumns{
	display: grid;
	grid-template-columns: 1fr 0.75fr 0.5fr 0.5fr 0.3fr;
	grid-template-rows: 1fr;

	align-items: center;

	font-size: 0.75em;
}

.table_multicolumns td{
	width: 100% !important;
	height: auto;
	margin: auto 0em;
	padding: 0em;
	justify-content: center;
	background-color: transparent !important;
}

/*Table Data TR of 3 columns*/
.threeColumns{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	font-size: 90%; /*too small = eyestrain :^(*/
}
.threeColumns th{
	width: 100% !important;
	padding: 1em 0em;
}
.threeColumns td{
	width: 100% !important;
}

/*Use this for headers of 2 columns*/
.twoHeaders{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

/*In Gear - TD's that need to fill more space*/
.fullWidth{
	width: 95% !important;
}
/* #jutsu{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
#jutsu p{
	display: inline-block;
	width: 25%!important;
} */

tbody{
	display: block;
	margin: 0em auto;
	background-color: #06404C;
}
/*Separates menu items*/
hr{
	margin: 2em 0em;
}

/*UNIVERSAL*/

label{
	text-align: left;
	font-size: 17px;
}

/*health bars*/
td div{
	margin: 0.5em auto;
	display: block;
}
td div div{
	margin: 0px;
	padding: 0.2em 0.1em;
	width:70%;
}
/*health bars*/

tr{
	display: grid;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	justify-items: center;
}

#kunaiExchange tr{
	justify-content: space-around;
	grid-auto-flow: column;
}

input{
	display: inline;
	padding: 0.4em 0.2em;
	font-size: 0.8em;
	margin: 0.2em 0em;
	/* border-radius: 10px 10px 10px 10px; */

	background-color: white;

	width: 100% !important;
}

form{
	margin: 1em 1.2em;
	text-align: left;
	font-size: 1em;
	overflow: scroll;
}

textarea{
	width: 100% !important;

	background-color: white;
}

th{
	padding: 1em;
	font-size: 1.2em;
	display: grid;
	grid-auto-flow: column;
	justify-content: space-around;
}
th span{
	margin: 0em 1em;
}

td label{
	display: inline-block;
	/* padding: 0em 0.3em; */
	width: auto !important;
}

select{
	display: inline;
	padding: 0.2em 0.2em;
	width: 80%;
	font-size: 1em;

	background-color: white;
}

/*Arena*/
#jutsu{
	overflow: scroll;
	text-align: center;
}
.jutsuCategory{
	width: 25% !important;
}
.jutsuCategory span{
	width: 70% !important;
}
/*Arena*/

/*Notification Blink*/
.systemMessage{
	color: rgba(240,240,20, 1);
}
.systemMessage {
  animation: blinker 0.9s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.75;
  }
}
/*Notification Blink*/

/*Battle Jutsu Signs Responsive Design*/
@media (min-width: 470px) {

	#handseals{
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		overflow: scroll;
	}
	#handseals p img{
		border-radius: 20px;
	}
	#handseals br{
		display: none; /*removes element*/
	}
	.handsealNumber{
		background-color: #ab902e	!important; /*override default color*/
	}
}
