#topbarContainer {

}

#topbar {
    height: var(--topbar-height);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.topbar_inner_left {
    flex-basis: 30%;
}
.topbar_inner_center {
    flex-basis: 40%;
    min-width: 305px;
}
.topbar_inner_right {
    flex-basis: 30%;
}

.topbar_notifications_container_right {
    justify-content: flex-end;
    gap: 5px;
}

.topbar_notifications_container_left {

}

.topbar_notification_wrapper {
    cursor: pointer;
    position: relative;
}

.topbar_notification_wrapper_training::after {
    content: attr(data-content) ": " attr(data-time);
    position: absolute;
    transform: translate(10px, 5px);
    z-index: 1000;
    background-color: var(--notification-background-color);
    border-color: var(--notification-background-border);
    color: var(--font-color-6);
    font-family: var(--font-secondary);
    font-size: 12px;
    font-style: italic;
    border-width: 1.75px;
    border-style: solid;
    padding: 5px;
    white-space: nowrap;
    font-weight: bold;
}

.topbar_notification_wrapper_training_complete:hover::after {
    content: attr(data-content);
    position: absolute;
    transform: translate(10px, 5px);
    z-index: 1000;
    background-color: var(--notification-background-color);
    border-color: var(--notification-background-border);
    color: var(--font-color-6);
    font-family: var(--font-secondary);
    font-size: 12px;
    font-style: italic;
    border-width: 1.75px;
    border-style: solid;
    padding: 5px;
    white-space: nowrap;
    font-weight: bold;
}

.topbar_notification_wrapper.stat_transfer:hover::after {
    transform: translateX(-20px) translateY(1px);
}

.topbar_notification_wrapper:hover::after {
    content: attr(data-content);
    position: absolute;
    z-index: 1000;
    transform: translate(-17px, -10px);
    background-color: var(--notification-background-color);
    border-color: var(--notification-background-border);
    color: var(--font-color-6);
    font-family: var(--font-secondary);
    font-size: 12px;
    font-style: italic;
    border-width: 1.75px;
    border-style: solid;
    padding: 5px;
    white-space: nowrap;
    font-weight: bold;
    top: 100%;
    transform: translate(calc(-100% - 20px), 0%);
}

.topbar_notification_wrapper.has_duration:hover::after {
    content: attr(data-content) ": " attr(data-time); 
}

.topbar_notification_important {
    fill: white;
    font-weight: bold;
    font-size: 60px;
}

.topbar_notification_mission {
    fill: #9aa6c6;
    font-family: Andale Mono, AndaleMono, monospace;
    font-size: 50px;
    text-transform: uppercase;
}
.topbar_notification_mission_team {
    fill: #9aa6c6;
    font-family: Andale Mono, AndaleMono, monospace;
    font-size: 65px;
    text-transform: uppercase;
}
.topbar_notification_mission_clan {
    fill: #9aa6c6;
    font-family: Andale Mono, AndaleMono, monospace;
    font-size: 65px;
    text-transform: uppercase;
}

.topbar_notification_specialmission {
    fill: #9aa6c6;
    font-family: Andale Mono, AndaleMono, monospace;
    font-size: 45px;
    text-transform: uppercase;
}

.topbar_close_notification {
    color: #c04f78;
    position: absolute;
    font-family: Andale Mono, AndaleMono, monospace;
    font-size: 20px;
    transform: translate(-40px, -10px);
    cursor: pointer;
}

.topbar_close_notification:hover {
    color: var(--text-hover);
}

.topbar_notification_wrapper_report {
    cursor: pointer;
    position: relative;
}
    .topbar_notification_wrapper_report::after {
        content: attr(data-content);
        position: absolute;
        z-index: 1000;
        transform: translate(-17px, -10px);
        background-color: var(--notification-background-color);
        border-color: var(--notification-background-border);
        color: var(--font-color-6);
        font-family: var(--font-secondary);
        font-size: 12px;
        font-style: italic;
        border-width: 1.75px;
        border-style: solid;
        padding: 5px;
        white-space: nowrap;
        font-weight: bold;
        top: 100%;
        transform: translate(calc(-100% - 20px), 0%);
    }

/* Mobile Overrides */
@media screen and (max-width: 999px) {
    .header_time_label {
        display: none;
    }
    .header_link_container {
        justify-content: center;
    }
    .header_logout_wrapper {
        margin: 0;
    }
    #topbar {
        background-color: var(--box-color-default);
    }
    .topbar_notifications_container_right {
        padding-right: 25px;
    }
    .topbar_notifications_container_left {
        padding-left: 25px;
    }
}