/* General Containers */
.ramen_shop_container {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}
    .ramen_shop_container .row.first {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .ramen_shop_container .row.second {
        display: flex;
        flex-direction: row;
    }
.row.first .column.first {
    display: flex;
    flex-direction: column;
}
.row.first .column.second {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 8px;
}
.row.second .column.first {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.row.second .column.first .header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.player_info_container {
}

.ramen_shop_basic_menu_container {
}

.ramen_shop_mystery_ramen_container {
}

.special_menu_container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: space-evenly;
}

/* Ramen Shop Owner */
.ramen_shop_owner_container {
    width: 330px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--ramen-shop-owner-container-border, #4d4445);
    outline: 1px solid var(--ramen-shop-owner-container-outline, #1d1717);
}

.ramen_shop_dialogue_container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    width: 250px;
    background-color: var(--ramen-shop-dialogue-container-background, #efe1c7);
    box-sizing: border-box;
    padding: 15px 40px 15px 40px;
    outline: 1px solid var(--ramen-shop-dialogue-container-outline, #a9928a);
}

.ramen_shop_dialogue_nameplate {
    position: absolute;
    left: 10%;
    top: -10px;
    background-color: var(--ramen-shop-dialogue-nameplate-background, #252331);
    color: var(--ramen-shop-dialogue-nameplate-text-color, #d5d0e4);
    box-sizing: border-box;
    padding: 3px 12px 4px 12px;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 12px;
}

.ramen_shop_dialogue_text {
    font-size: 13px;
    color: var(--ramen-shop-dialogue-text-color, #1c1409);
    font-style: italic;
    font-family: (--font-secondary);
}

.ramen_shop_owner_img {

}

/* Player Info */
.basic_menu_header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .basic_menu_header_row .header {
        padding-bottom: 2px;
    }
.player_health_container {
}

.player_money_container {
    display: flex;
    color: var(--ramen-shop-default-text-color, #e7e0d8);
    font-style: italic;
    justify-content: space-between;
    background: var(--ramen-shop-money-background, #17161b);
    outline: 1px solid var(--ramen-shop-money-outline, #313036);
    width: 150px;
    height: 25px;
    box-sizing: border-box;
    padding: 5px 8px 5px 8px;
    line-height: 12px;
}

.player_money_label {
    flex-basis: 50%;
}

.player_money_text {
    flex-basis: 50%;
    text-align: right;
}

/* Ramen Shop Intro */
.ramen_shop_intro_container {
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header {
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-primary);
    font-variant: var(--font-primary-variant);
    color: var(--font-color-1);
}

.intro_text {
    color: var(--ramen-shop-default-text-color, #e7e0d8);
    padding-bottom: 10px;
}

.ramen_shop_descriptive_text {
    font-style: italic;
    font-size: 12px;
    color: var(--ramen-shop-descriptive-text-color, #c2c5cc);
    text-align: center;
    padding: 18px;
}

/* Basic Ramen */
.ramen_shop_basic_menu {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.basic_ramen {
    display: flex;
    gap: 10px;
}

.basic_ramen_img {
    width: 75px;
}

.basic_ramen_details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.basic_ramen_name {
    color: var(--ramen-name-color, #d4c88e);
    text-align: center;
    font-weight: bold;
}

.basic_ramen_effect {
    color: var(--ramen-effect-color, #e7e0d8);
    text-align: center;
}

.basic_ramen_button {
    margin-top: auto;
    width: 65px;
    height: 25px;
    text-align: center;
    color: #ccc1af;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 23px;
    text-shadow: 0 0 1px black;
    background: #343d77;
}
    .basic_ramen_button:hover {
        color: white;
    }

/* Special Ramen */
.special_ramen {
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-sizing: border-box;
    padding: 25px 5px 25px 5px;
    position: relative;
}
.special_menu_container .special_ramen:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 80%;
    background: var(--ramen-shop-special-ramen-border, #313035);
    position: absolute;
    bottom: 10%;
    right: -12px;
}

.special_ramen_img {
    height: 75px;
}

.special_ramen_name {
    color: var(--ramen-name-color, #d4c88e);
    text-align: center;
    font-weight: bold;
}

.special_ramen_description {
    font-style: italic;
    font-size: 12px;
    color: var(--ramen-shop-descriptive-text-color, #c2c5cc);
    text-align: center;
}

.special_ramen_effect {
    font-size: 12px;
    color: var(--ramen-effect-color, #e7e0d8);
    text-align: center;
}

.special_ramen_duration {
    color: var(--ramen-effect-color, #e7e0d8);
    text-align: center;
}

.special_ramen_button {
    margin-top: auto;
    width: 65px;
    height: 25px;
    text-align: center;
    color: #ccc1af;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 23px;
    text-shadow: 0 0 1px black;
    background: #343d77;
}
    .special_ramen_button:hover {
        color: white;
    }
.special_menu_locked {
    height: 160px;
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 14px;
    color: var(--ramen-shop-descriptive-text-color, #c2c5cc);
}
/* Misc */
.keyword {
    color: var(--keyword-color, #d5d0e4);
}

/* Mystery Ramen */
.mystery_ramen_locked {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 14px;
    color: var(--ramen-shop-descriptive-text-color, #c2c5cc);
}
.ramen_shop_mystery_ramen_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 98px;
    position: relative;
}
.mystery_ramen_description {
    font-style: italic;
    font-size: 12px;
    color: var(--ramen-shop-descriptive-text-color, #c2c5cc);
    text-align: center;
}
.mystery_ramen_effects {
    display: flex;
    flex-direction: column;
}
.mystery_ramen_effect {
    font-size: 12px;
    color: var(--ramen-effect-color, #e7e0d8);
}
.mystery_ramen_button {
    position: absolute;
    right: 45px;
    bottom: 20px;
    width: 65px;
    height: 25px;
    text-align: center;
    color: #ccc1af;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 23px;
    text-shadow: 0 0 1px black;
    background: #343d77;
}
.mystery_ramen_details_container {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
}
.mystery_ramen_duration {
    color: var(--ramen-effect-color, #e7e0d8);
}