/* Helper Classes */
.ft-b {
    font-weight: bold;
}

.ft-i {
    font-style: italic;
}

.ft-p {
    font-family: var(--font-primary);
    font-variant: var(--font-primary-variant);
}

.ft-s {
    font-family: var(--font-secondary);
    font-variant: var(--font-secondary-variant);
}

.ft-c1 {
    color: var(--font-color-1);
}

.ft-c2 {
    color: var(--font-color-2);
}

.ft-c3 {
    color: var(--font-color-3);
}

.ft-c4 {
    color: var(--font-color-4);
}

.ft-c5 {
    color: var(--font-color-5);
}

.ft-min {
    font-size: 12px;
}

.ft-small {
    font-size: 13px;
}

.ft-default {
    font-size: 14px;
}

.ft-medium {
    font-size: 15px;
}

.ft-large {
    font-size: 17px;
}

.ft-xlarge {
    font-size: 18px;
}

.ft-max {
    font-size: 21px;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-hover:hover {
    color: var(--text-hover);
    cursor: pointer;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-in_flex {
    display: inline-flex;
}

.d-in_block {
    display: inline-block;
}

.jc-center {
    justify-content: center;
}

.button-bar_small {
    height: 22px;
    width: 67px;
    border: none;
    background: url("/images/v2/decorations/barbutton.png") no-repeat;
    background-position: center;
}

    .button-bar_small:active {
        background-size: 98%;
    }

.button-bar_large {
    height: 22px;
    width: 108px;
    border: none;
    background: url("/images/v2/decorations/barbigbutton.png") no-repeat;
    background-position: center;
}

    .button-bar_large:active {
        background-size: 98%;
    }

.nwbigcorner {
    position: absolute;
    top: 0;
    left: 0;
}

.nebigcorner {
    position: absolute;
    top: 0;
    right: 0;
}

.sebigcorner {
    position: absolute;
    bottom: 0;
    right: 0;
}

.swbigcorner {
    position: absolute;
    bottom: 0;
    left: 0;
}

.nwcorner {
    position: absolute;
    top: 0;
    left: 0;
}

.necorner {
    position: absolute;
    top: 0;
    right: 0;
}

.secorner {
    position: absolute;
    bottom: 0;
    right: 0;
}

.swcorner {
    position: absolute;
    bottom: 0;
    left: 0;
}

.box-primary {
    box-sizing: border-box;
    background-color: var(--box-color-default);
    /* Corners in clockwise direction */
    background-image: url(/images/v2/sumu/necorner.png), url(/images/v2/sumu/secorner.png), url(/images/v2/sumu/swcorner.png), url(/images/v2/sumu/nwcorner.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top right, bottom right, bottom left, top left;
}

.box-secondary {
    box-sizing: border-box;
    background-color: var(--box-color-default);
    border: 1px solid var(--border-color-default);
}

/* Geisha Overrides */
.contentDivHeader {
    color: var(--text-hover) !important;
    background: var(--sidebar-header-background);
    border-radius: 0px;
}

#content {
    color: var(--font-color-3);
    font-family: var(--font-secondary);
}

.contentDiv, .contentDivMed {
    background: var(--sidebar-button-background-color);
}

#content table.table th {
    color: var(--text-hover);
    background: var(--sidebar-header-background);
    text-shadow: 0 1px 0 #000000;
    font-family: var(--font-primary);
    font-variant: var(--font-primary-variant);
    font-size: var(--font-medium);
}

#content table.table {
    background-color: var(--sidebar-button-background-color);
    border-radius: 0px;
    font-size: var(--font-default);
    border: none;
}

#content td a {
    color: var(--font-link);
}

#content a, a:visited {
    color: var(--font-link);
}

#content table.table td.row1 {
    background-color: var(--sidebar-button-background-color);
}

#content table.table td.row2 {
    background: var(--content-background-color);
}

#content table.table td {
    border: 1px solid var(--sidebar-button-border-color);
}

input {
    background: var(--content-background-color);
    color: var(--font-color-3);
    border-color: var(--sidebar-button-border-color);
}

textarea {
    background: var(--content-background-color);
    color: var(--font-color-3);
    border-color: var(--sidebar-button-border-color);
}

select {
    background: white;
    color: var(--font-color-3);
    border-color: var(--sidebar-button-border-color);
}

#content .button, .contentDiv button {
    background: var(--content-background-color);
    color: var(--font-color-3);
    border-color: var(--sidebar-button-border-color);
}

    #content .button:hover, .contentDiv button:hover {
        background: var(--box-color-default);
        color: var(--font-color-2);
        border-color: var(--font-color-2);
    }

button {
    background: var(--content-background-color);
    color: var(--font-color-3);
    border-color: var(--sidebar-button-border-color);
}

    button:hover {
        background: var(--box-color-default);
        color: var(--font-color-2);
        border-color: var(--font-color-2);
    }

#handsealOverlay {
    background-color: var(--sidebar-button-background-color) !important;
}

#jutsu .jutsuList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-top: 20px;
}

#jutsu .jutsuName {
    background: var(--content-background-color) !important;
    color: var(--font-color-3);
    width: 200px;
    height: 110px;
    border-radius: 12px;
    padding: 5px 10px 2px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1px;
    outline: 1px solid #E0E0E0;
    user-select: none;
    overflow: hidden;
}

    #jutsu .jutsuName:hover {
        background: var(--box-color-default) !important;
    }

    #jutsu .jutsuName.selected_jutsu {
        outline: #4e2a3c 1px solid;
        color: var(--font-color-2);
        background: var(--box-color-default) !important;
    }

    #jutsu .jutsuName .jutsu_name {
        font-family: var(--font-secondary);
        color: #6e0e11;
        font-size: 16px;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
    }

    #jutsu .jutsuName .jutsu_type {
        font-family: var(--font-secondary);
        color: var(--font-color-2);
        font-size: 13px;
        font-variant: small-caps;
        text-transform: lowercase;
    }

    #jutsu .jutsuName .jutsu_details {
        font-family: var(--font-secondary);
        color: var(--font-color-2);
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
    }

    #jutsu .jutsuName .jutsu_details_row {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 5px;
        overflow: hidden;
        white-space: nowrap;
    }

    #jutsu .jutsuName .jutsu_effect {
        display: flex;
        justify-content: space-between;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }

    #jutsu .jutsuName[aria-disabled='true'] {
        opacity: 0.5;
    }

        #jutsu .jutsuName[aria-disabled='true']:hover {
            background: var(--box-color-default) !important;
            cursor: default;
        }

.weapon {
    background: var(--content-background-color) !important;
    color: var(--font-color-3);
    border-color: var(--font-color-3);
}

    .weapon:hover {
        background: var(--box-color-default) !important;
    }

    .weapon.selected_weapon {
        border-color: var(--font-color-2);
        color: var(--font-color-2);
        background: var(--box-color-default) !important;
    }

#content ul.submenu {
    background: var(--sidebar-header-color);
    border: none;
}

    #content ul.submenu li {
        background: var(--sidebar-header-background);
    }

    #content ul.submenu a {
        color: var(--text-hover);
        text-shadow: 0 1px 0 #000000;
        font-family: var(--font-primary);
        font-variant: var(--font-primary-variant);
        font-size: var(--font-medium);
    }

        #content ul.submenu a:hover {
            text-shadow: none;
        }

#content table.table tr:first-child td:last-child, #content table.table tr:first-child th:last-child {
    border-top-right-radius: 0px;
}

#content table.table tr:first-child td:first-child, #content table.table tr:first-child th:first-child {
    border-top-left-radius: 0px;
}

.healthFill {
    background: var(--health-fill) !important;
}

.resourceFill.health {
    background: var(--health-fill) !important;
}

.healthPreview {
    background: var(--health-preview) !important;
}

.staminaFill {
    background: var(--stamina-fill) !important;
}

.staminaPreview {
    background: var(--stamina-preview) !important;
}

.chakraFill {
    background: var(--chakra-fill) !important;
}

.chakraPreview {
    background: var(--chakra-preview) !important;
}

.battle_text_ninjutsu {
    color: var(--ninjutsu-text-color) !important;
}

.battle_text_taijutsu {
    color: var(--taijutsu-text-color) !important;
}

.battle_text_genjutsu {
    color: var(--genjutsu-text-color) !important;
}

.battle_text_heal {
    color: var(--heal-text-color) !important;
}

#content table.table th a {
    color: var(--text-hover);
}

    #content table.table th a:hover {
        color: var(--font-color-4);
    }

.jutsu_filter_button {
    background-color: var(--sidebar-button-background-color) !important;
    color: var(--font-color-3) !important;
    border-color: var(--sidebar-button-border-color) !important;
}

    .jutsu_filter_button.active {
        background-color: var(--sidebar-button-background-hover) !important;
        color: var(--font-color-2) !important;
        border-color: var(--sidebar-button-border-color) !important;
    }

.kunaiPack {
    background: var(--content-background-color) !important;
    color: black !important;
}

#content table.table td.newsFooter {
    background-color: var(--sidebar-header-background);
}

.jutsu_select_wrapper {
    border-color: var(--sidebar-button-border-color) !important;
}

#handSeals p[data-selected="yes"] img {
    border-color: var(--hand-seal-highlight) !important;
}

#handSeals .handsealNumber {
    background-color: var(--hand-seal-highlight) !important;
    color: var(--hand-seal-text);
}

#handseal_1 img {
    content: url(../../images/v2/sumu/Seal1.png) !important;
}

#handseal_2 img {
    content: url(../../images/v2/sumu/Seal2.png) !important;
}

#handseal_3 img {
    content: url(../../images/v2/sumu/Seal3.png) !important;
}

#handseal_4 img {
    content: url(../../images/v2/sumu/Seal4.png) !important;
}

#handseal_5 img {
    content: url(../../images/v2/sumu/Seal5.png) !important;
}

#handseal_6 img {
    content: url(../../images/v2/sumu/Seal6.png) !important;
}

#handseal_7 img {
    content: url(../../images/v2/sumu/Seal7.png) !important;
}

#handseal_8 img {
    content: url(../../images/v2/sumu/Seal8.png) !important;
}

#handseal_9 img {
    content: url(../../images/v2/sumu/Seal9.png) !important;
}

#handseal_10 img {
    content: url(../../images/v2/sumu/Seal10.png) !important;
}

#handseal_11 img {
    content: url(../../images/v2/sumu/Seal11.png) !important;
}

#handseal_12 img {
    content: url(../../images/v2/sumu/Seal12.png) !important;
}

/* VillageHQ Overrides */
.kage_name {
    color: #6e0e11 !important;
    font-size: 17px !important;
}

.kage_title {
    color: black !important;
}

.resource_produced, .resource_claimed, .warlog_green {
    color: #2A8A48 !important;
}

.resource_lost, .resource_spent, .warlog_red {
    color: #B03232 !important;
}

.kage_nameplate_decoration {
    background: #c3c9d7 !important;
}

.kage_avatar_fill {
    background: #9aa2b4 !important;
}

.elder_avatar_fill {
    background: #9aa2b4 !important;
}

.elder_name {
    background: #9aa2b4 !important;
    color: var(--font-link) !important;
}

.elder_claim_button, .kage_claim_button {
    background: linear-gradient(to bottom, #404f76 50%, #26355c 50%) !important;
    color: #d2d6df !important;
}

    .elder_claim_button:hover, .kage_claim_button:hover {
        color: white !important;
    }

.elder_avatar_wrapper, .kage_avatar_wrapper_empty {
    background: #536184 !important;
}

.kage_kanji {
    color: #536184 !important;
}

.kage_record_header {
    color: var(--village-text-color-1) !important;
}

.kage_record_item_row_second {
    color: var(--village-text-color-1) !important;
}

.kage_record_container, .strategic_info_container {
    background: url(../../../images/v2/sumu/nwbigcorner.png) no-repeat top left, url(../../../images/v2/sumu/sebigcorner.png) no-repeat bottom right, url(../../../images/v2/sumu/swbigcorner.png) no-repeat bottom left, url(../../../images/v2/sumu/nebigcorner.png) no-repeat top right !important;
}

.kage_record_container, .strategic_info_item, .proposal_container .content,
.village_policy_bonus_container, .village_policy_penalty_container, .village_policy_main_inner,
.village_policy_name, .active_proposal_name_container {
    background-color: var(--box-color-default) !important;
}

.village_policy_bonus_container, .village_policy_penalty_container, .village_policy_description,
.strategic_info_seat, .previous_proposal_button_label, .next_proposal_button_label {
    color: var(--village-text-color-1) !important;
}

.village_policy_phrase, .strategic_info_name, .strategic_info_label,
.resources_inner_header .first a, .proposal_count, .warlog_war_score {
    color: var(--village-text-color-2) !important;
}

.strategic_info_item {
    border-top: 4px solid #383838 !important;
    border-bottom: 4px solid #383838 !important;
}

.warlog_data_row {
    background-color: var(--box-color-default) !important;
}

.global_leaderboard_container > :nth-child(2n) .warlog_data_row {
    background-color: var(--box-color-default) !important;
}

.warlog_rank_wrapper {
    background-color: var(--box-color-default) !important;
}

/* Abyss Overrides */
.favor_exchange_header, .faction_mission_header, .forbidden_shop_container .section_title {
    font-size: 16px !important;
    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant) !important;
    color: var(--font-color-1) !important;
}

.currency_exchange_button.disabled {
    cursor: default !important;
    opacity: 0.5 !important;
    color: white !important;
}

.favor_exchange_label {
    color: #6e0e11 !important;
    font-size: 12px !important;
    font-family: 'Segoe UI' !important;
    text-align: center !important;
}

/* Special Mission Override */
#spec_miss_wrapper {
    background: var(--sidebar-button-background-color);
}

.spec_miss_log_entry_text {
    color: var(--font-color-3) !important;
}

.spec_miss_log_entry_timestamp {
    color: var(--font-color-3) !important;
}

.spec_miss_log_entry_timestamp_wraooer {
    color: var(--font-color-3) !important;
}

.spec_miss_page_warning {
    color: var(--font-color-3) !important;
}

a#spec_miss_cancel {
    color: var(--font-color-3) !important;
}

/* Inbox Override */
#inbox_convo_list_title_container {
    background: var(--sidebar-header-background);
    border-bottom: 1px solid var(--sidebar-header-background);
}

#inbox_convo_main_controls_container {
    background: var(--sidebar-header-background);
}

#inbox_convo_list, #inbox_convo_container, #inbox_convo_details_container {
    scrollbar-color: var(--sidebar-button-border-color);
}

#inbox_container {
    background: var(--sidebar-button-background-color);
    border: 1px solid var(--sidebar-button-border-color);
}

#content #inbox_new {
    background: var(--sidebar-header-background);
    border-color: var(--sidebar-header-background);
}

#inbox_convo_list_title {
    color: var(--font-color-2);
}

#inbox_convo_list_count {
    color: var(--font-color-2);
}

#inbox_convo_textbox {
    background: var(--content-background-color);
    color: var(--font-color-3);
    border-color: var(--font-color-3);
}

.inbox_convo_list_container_selected {
    background: var(--content-background-color);
}

.inbox_convo_title {
    color: var(--font-color-3);
}

.inbox_convo_list_container {
    border-color: var(--sidebar-header-background);
}

#content #inbox_new span {
    color: var(--font-color-2);
}

.inbox_message {
    border-color: var(--sidebar-header-background);
}

#inbox_convo_textbox_characters_remaining {
    color: var(--font-color-2);
}

.inbox_message_timestamp, .inbox_message_report {
    color: var(--font-color-3);
}

#content .inbox_message_report a {
    color: var(--font-color-3);
}

.inbox_message_self::before {
    background: none;
}

#inbox_convo_details_container, #inbox_new_convo_container {
    background: var(--sidebar-button-background-color);
}

.inbox_convo_details_title {
    background: var(--sidebar-header-background);
    color: var(--font-color-2);
}

/* Content Header Overrides */
.contentHeaderDivider > svg > line {
    display: none;
}

.sb_header_line {
    display: none;
}

.sb_header_image_wrapper {
    display: none !important;
}

.sb_header_text_wrapper {
    padding-top: 4px;
    z-index: 2;
    left: 5px !important;
    text-shadow: none !important;
    font-family: StickRice;
    color: #3e424d;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: normal !important;
}

/* Sumu Profile Override */
.skills .badge {
    background-image: url(../../../images/v2/sumu/redplate.png) !important;
}

.attributes .badge {
    background-image: url(../../../images/v2/sumu/blueplate.png) !important;
}

.profile_row_third {
    background: url(../../../images/v2/sumu/nwbigcorner.png) no-repeat top left, url(../../../images/v2/sumu/sebigcorner.png) no-repeat bottom right !important;
}

.reputation_indicator {
    background: #8690ac !important;
}

.bloodline_mastery_indicator {
    background: #8690ac !important;
}

/* Sumu Travel Override */
.travel-scout-attack span.direction {
    background-image: url(../../../images/icons/right_hover.png) !important;
}

.quick-scout span.direction {
    background-image: url(../../../images/icons/right_hover.png) !important;
}

/* Sumu Topbar Override */
.main_logo {
    background: url(../../../images/v2/sumu/sumulogo.png) no-repeat center !important;
}

/* Sumu Chat Override */
.post_staff_title {
    color: white !important;
}

.chat_pagination {
    color: #5c73b3 !important;
}

    .chat_pagination:hover {
        color: #939cb6 !important;
    }

.post_controls_container {
    border: 1px solid #abb3c7 !important;
    border-left: none !important;
}

.post_message_container {
    border: 1px solid #abb3c7 !important;
    border-left: none !important;
    border-right: none !important;
}

.meme_toggle {
    background: url(../../../images/v2/sumu/memeframe.png) no-repeat center !important;
    height: 33px !important;
    padding-bottom: 4px !important;
}

    .meme_toggle:hover {
        background: url(../../../images/v2/sumu/memeframe_hover.png) no-repeat center !important;
        color: #9a1c1d;
    }

.meme_close {
    background: url(../../../images/v2/sumu/memeframe.png) no-repeat center !important;
    height: 33px !important;
    padding-bottom: 4px !important;
}

    .meme_close:hover {
        background: url(../../../images/v2/sumu/memeframe_hover.png) no-repeat center !important;
        color: #9a1c1d;
    }

.chat_submit_button {
    background: url(../../../images/v2/sumu/sendframe.png) no-repeat center !important;
    height: 33px !important;
    padding-bottom: 4px !important;
}

    .chat_submit_button:hover {
        background: url(../../../images/v2/sumu/sendframe_hover.png) no-repeat center !important;
        color: #9a1c1d;
    }

#chat_input_box {
    background-image: url(../../../images/v2/sumu/nwbigcorner.png), url(../../../images/v2/sumu/nebigcorner.png), url(../../../images/v2/sumu/sebigcorner.png), url(../../../images/v2/sumu/swbigcorner.png) !important;
    background-position: top 0 left 0, top 0 right 0, bottom 0 right 0, bottom 0 left 0;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}

.quick_reply_box {
    outline: none !important;
    accent-color: #9a1c1d !important;
}

