@font-face {
    src: url("/style/fonts/STICKRICE-8JEZ.TTF");
    font-family: stickrice;
}

:root {
    /* Avatar Config */
    --avatar-frame-border_gradient: linear-gradient(0deg, #474b58 0%, #474b58 50%, #474b58 100%);
    --avatar-frame-border-width-large: 7px;
    --avatar-frame-border-width-small: 2px;
    /* General Config */
    --border-color-default: #939cb6;
    --box-color-default: #b9bfcc;
    --main-background-color: #898fa1;
    --content-background-color: #b5bdd4;
    --content-background-gradient: linear-gradient(to bottom, #c3c9d7, #c3c9d7);
    --content-outline-color: #777f95;
    --content-border-color: #898fa1;
    --footer-background-color: #0E0D0E;
    --footer-font-color: #423f39;
    --regentimer-color: #7C88C3;
    /* Content colors */
    --daily-task-active-bg-color: #d2d6df;
    --daily-task-complete-bg-color: #ae9aa5;
    --exp-bar-bg-color: #383838;
    --exp-bar-fill-color: #6e0e11;
    --progress-bar-bg-color: #383838;
    --progress-bar-dark-bg-color: rgba(0,0,0,0.2);
    --progress-bar-fill-color: #6e0e11;
    /* Font Config */
    --font-primary: "Trebuchet MS";
    --font-primary-variant: small-caps;
    --font-secondary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-secondary-variant: small-caps;
    --font-color-1: #383838; /* Bold headers/titles */
    --font-color-2: #3e424d; /* Inverted headers/titles */
    --font-color-3: #232020; /* Softer general text */
    --font-color-4: #232020;
    --font-color-5: #b5bdd4; /* Header links */
    --font-color-6: #232020;
    --font-color-7: #232020;
    --font-link: #b33737;
    --font-link-hover: #676d91;
    --font-min: 12px;
    --font-small: 13px;
    --font-default: 14px;
    --font-medium: 15px;
    --font-large: 17px;
    --font-xlarge: 18px;
    --font-max: 21px;
    --text-hover: white;
    /* Resource Config */
    --resource-bar-width: 300px;
    --resource-bar-height: 21px;
    --resource-bar-inner-height: 19px;
    --health-fill: linear-gradient(to right, #b54246, #c77578 100%);
    --health-preview: #4c2626;
    --health-highlight: #9d5454;
    --chakra-fill: linear-gradient(to right, #3b5cb6, #7d8dbc 100%);
    --chakra-preview: #242639;
    --chakra-highlight: #7782ba;
    --stamina-fill: linear-gradient(to right, #4a6c42, #91b49d 100%);
    --stamina-preview: #2e362c;
    --stamina-highlight: #7f9d89;
    /* Hotbar Config */
    --hotbar-background-color: #100f11;
    --hotbar-border-color: #0c0c0e;
    --hotbar-keybind-modal-width: 700px;
    --hotbar-keybind-modal-height: 400px;
    /* Sidebar Config */
    --sidebar-header-background: #7f869a;
    --sidebar-button-background-color: #c3c9d7;
    --sidebar-button-background-hover: #474b58;
    --sidebar-button-border-color: #7f869a;
    /* Header Config */
    --header-background-color: #151417;
    --header-border-color: #0c0d0e;
    --header-logout-color: #e6a0a0;
    /* Chat Config */
    --chat-secondary-background-color: #c8c4d2;
    /* Style helpers */
    --clip-tall-hexagon: polygon(50% 0%,95% 20%,95% 80%,50% 100%,5% 80%,5% 20%);
    /* Travel Config */
    --travel-ui-color: #c3c9d7;
    --travel-button-hover: #7f869a;
    --travel-background-color: #7f869a;
    --travel-scout-background: rgba(195, 201, 215, 0.65);
    /* Battle Config */
    --ninjutsu-text-color: #324EB0;
    --taijutsu-text-color: #B03232;
    --genjutsu-text-color: #8032B0;
    --heal-text-color: #2A8A48;
    --hand-seal-highlight: #474b58;
    --hand-seal-text: white;
    /* Notification Config */
    --notification-background-color: #c3c9d7;
    --notification-background-border: #767b91;
    /* VillageHQ Config */
    --village-text-color-1: #383838;
    --village-text-color-2: #6e0e11;
    --diplomacy-background-neutral: rgba(245, 204, 39, 0.2);
    --diplomacy-background-alliance: rgba(0, 221, 14, 0.17);
    --diplomacy-background-war: rgba(245, 39, 39, 0.13);
    --diplomacy-item-border: #8a91ae;
    --hq-number-background-color: #d2d6df;
    --hq-clan-name-color: #6e0e11;
}

/* Helper Classes - TO-DO: remove helpers, organize module CSS classes */
.ft-b {
    font-weight: bold;
}
.ft-i {
    font-style: italic;
}
.ft-p {
    font-family: var(--font-primary);
    font-variant: var(--font-primary-variant);
}
.ft-s {
    font-family: var(--font-secondary);
    font-variant: var(--font-secondary-variant);
}
.ft-c1 {
    color: var(--font-color-1);
}
.ft-c2 {
    color: var(--font-color-2);
}
.ft-c3 {
    color: var(--font-color-3);
}
.ft-c4 {
    color: var(--font-color-4);
}
.ft-c5 {
    color: var(--font-color-5);
}
.ft-min {
    font-size: 12px;
}
.ft-small {
    font-size: 13px;
}
.ft-default {
    font-size: 14px;
}
.ft-medium {
    font-size: 15px;
}
.ft-large {
    font-size: 17px;
}
.ft-xlarge {
    font-size: 18px;
}
.ft-max {
    font-size: 21px;
}
.t-center {
    text-align: center;
}
.t-left {
    text-align: left;
}
.t-hover:hover {
    color: var(--text-hover);
    cursor: pointer;
}
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.d-in_flex {
    display: inline-flex;
}
.d-in_block {
    display: inline-block;
}
.jc-center {
    justify-content: center;
}
.button-bar_small {
    height: 22px;
    width: 67px;
    border: none;
    background: url("/images/v2/decorations/barbutton.png") no-repeat;
    background-position: center;
}
    .button-bar_small:active {
        background-size: 98%;
    }
.button-bar_large {
    height: 22px;
    width: 108px;
    border: none;
    background: url("/images/v2/decorations/barbigbutton.png") no-repeat;
    background-position: center;
}
    .button-bar_large:active {
        background-size: 98%;
    }
.nwbigcorner {
    position: absolute;
    top: 0;
    left: 0;
}
.nebigcorner {
    position: absolute;
    top: 0;
    right: 0;
}
.sebigcorner {
    position: absolute;
    bottom: 0;
    right: 0;
}
.swbigcorner {
    position: absolute;
    bottom: 0;
    left: 0;
}
.nwcorner {
    position: absolute;
    top: 0;
    left: 0;
}
.necorner {
    position: absolute;
    top: 0;
    right: 0;
}
.secorner {
    position: absolute;
    bottom: 0;
    right: 0;
}
.swcorner {
    position: absolute;
    bottom: 0;
    left: 0;
}
.box-primary {
    box-sizing: border-box;
    background-color: var(--box-color-default);
    /* Corners in clockwise direction */
    background-image: url(/images/v2/sumu/necorner.png), url(/images/v2/sumu/secorner.png), url(/images/v2/sumu/swcorner.png), url(/images/v2/sumu/nwcorner.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top right, bottom right, bottom left, top left;
}
.box-secondary {
    box-sizing: border-box;
    background-color: var(--box-color-default);
    border: 1px solid var(--border-color-default);
}

/* Main Content */
body {
    background-color: var(--main-background-color);
    background-image: url(../../images/v2/sumu/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
}
#container {
    background: none;
}
    #container::before {
        content: "";
        position: fixed;
        width: calc(var(--sidebar-width) + var(--content-width) + 90px);
        height: 100%;
        left: 50%;
        transform: translate(-50%, calc(-1 * var(--header-height) - var(--header-border-height)));
        z-index: -1;
    }
.contentHeader {
    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant);
    color: var(--font-color-1) !important;
    font-size: var(--font-large) !important;
}
#contentHeaderLocation {
    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant);
    color: var(--font-color-1) !important;
    font-size: var(--font-large) !important;
    white-space: pre;
}
#contentHeaderCoords {
    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant);
    color: var(--font-color-1) !important;
    font-size: var(--font-large) !important;
    white-space: pre;
}
#content {
    background-image: var(--content-background-gradient);
    border-width: 2px;
    border-color: var(--content-border-color);
    border-style: solid;
    outline: 5px;
    outline-color: var(--content-outline-color);
    outline-offset: 0px;
    outline-style: solid;
    margin-top: 14px;
}
    #content::after {
        pointer-events: none;
        content: "";
        display: block;
        position: absolute;
        top: -38px;
        left: -33px;
        width: 996px;
        height: 144px;
        background: url(../../images/v2/sumu/topframe.png) no-repeat top center;
        background-size: cover; /* Adjust as needed */
        z-index: 1; /* Ensure the image is positioned above the #content */
    }
.main_logo {
    height: 30px;
    width: 305px;
    background: url("/images/v2/decorations/logo.png") no-repeat;
    background-position: center;
    border: none;
}
#footer {
    font-family: var(--font-primary);
    font-size: 12px;
    color: var(--footer-font-color);
    background-color: var(--footer-background-color);
}
.footer_text {
    text-align: center;
    padding-top: 10px;
}

/* Travel */
.systemMessage-new-info {
    background: var(--travel-ui-color);
    border: 1px solid var(--travel-background-color);
    color: var(--font-color-3);
}

/* Content styles */
.name.black {
    color: #000;
    --shadow-color: rgba(100,100,100,1);
    --shadow-size: 1px;
    text-shadow:
        /* top row */
        -1px -1px var(--shadow-size) var(--shadow-color),
        0 -1px var(--shadow-size) var(--shadow-color),
        1px -1px var(--shadow-size) var(--shadow-color),
        /* left and right */
        -1px 0 var(--shadow-size) var(--shadow-color),
        1px 0 var(--shadow-size) var(--shadow-color),
        /* bottom row */
        -1px 1px var(--shadow-size) var(--shadow-color),
        0 1px var(--shadow-size) var(--shadow-color),
        1px 1px var(--shadow-size) var(--shadow-color);
}

h2 {
    font-size: 16px;
    margin: 4px 0;

    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant);

    color: var(--font-color-1);
}
h3 {
    font-size: 14px;
    margin: 4px 0;

    font-family: var(--font-primary) !important;
    font-variant: var(--font-primary-variant);

    color: var(--font-color-1);
}

input[type=checkbox] {
    outline: none;
    accent-color: #9a1c1d;
}

/* Compatibility */
.systemMessage {
    color: #b75353;
    font-weight: bold;
}

/* User Colors */
a.userLink:hover {
    text-decoration: underline !important;
}
/* Blue */
a.blue, a.blue:hover {
    color: #3b5cb6 !important;
}
.post_user_avatar_wrapper.blue, .avatar_frame.blue, .avatar_frame.visited {
    background: linear-gradient(0deg, #3b5cb6 0%, #3b5cb6 100%);
}

/* Pink */
a.pink, a.pink:hover {
    color: #f69edc !important;
}
.post_user_avatar_wrapper.pink, .avatar_frame.pink, .avatar_frame.visited {
    background: linear-gradient(0deg, rgba(182, 94, 123, 1) 0%, rgba(246, 158, 220, 1) 100%);
}

/* Gold */
a.chat_user_name.gold, a.gold:hover, a.gold:visited {
    color: #c7a417 !important;
}
.post_user_avatar_wrapper.gold, .avatar_frame.gold {
    background: linear-gradient(0deg, #c7a417 0%, #c7a417 100%);
}

/* Moderator */
a.chat_user_name.moderator, a.moderator:hover, a.moderator:visited {
    color: #31a759 !important;
}
.post_user_avatar_wrapper.moderator, .avatar_frame.moderator {
    background: linear-gradient(0deg, #31a759 0%, #31a759 100%);
}

/* Head Moderator */
a.headModerator, a.headModerator:hover, a.headModerator:visited {
    color: #34a3b3 !important;
}
.post_user_avatar_wrapper.headModerator, .avatar_frame.headModerator {
    background: linear-gradient(0deg, #34a3b3 0%, #34a3b3 100%);
}

/* Content Admin */
a.contentAdmin, a.contentAdmin:hover, a.contentAdmin:visited {
    color: #6140c1 !important;
}
.post_user_avatar_wrapper.contentAdmin, .avatar_frame.contentAdmin {
    background: linear-gradient(0deg, #6140c1 0%, #6140c1 100%);
}

/* Administrator */
a.administrator, a.administrator:hover, a.administrator:visited {
    color: #d73839 !important;
}
.post_user_avatar_wrapper.administrator, .avatar_frame.administrator {
    background: linear-gradient(0deg, #d73839 0%, #d73839 100%);
}

/* Default User */
a.normalUser, a.normalUser:hover, a.normalUser:visited {
    color: #383838 !important;
}
.post_user_avatar_wrapper.normalUser, .avatar_frame.normalUser {
    background: #383838 !important;
}

/* Mobile Overrides */
@media screen and (max-width: 999px) {
    #container {
        transform: scale(1);
        transform-origin: top left;
        width: 100%;
    }
}