
.profile_container {
    max-width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 20px;
    box-sizing: border-box;

    font-size: var(--font-default); /* Override Geisha.css default */
    font-family: var(--font-secondary); /* Override Geisha.css default */
    
}

.profile_row_first { /* Organize into rows so we can synchronize flex items */
    width: 100%;

    display: flex;
    align-items: flex-end;
    gap: 30px;
    margin-bottom: 5px;

    position: relative;
}

.profile_avatar_container {
    width: 80px;
    height: 80px;

    top: -5px;
    left: calc(50% - 40px);

    position: absolute;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_avatar_frame {
    padding: var(--avatar-frame-border-width-small);
}

.status_attributes_wrapper { /* Wrap status attributes so we can control scale and position while maintaining background/border size */
    flex-grow: 1;
}
.status_attributes {
    min-width: 600px;
    min-height: 210px;
    padding: 10px 15px;
}

.name_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.player_name {
    font-size: 20px;
    margin-bottom: 4px;
}
.player_title {
    font-size: var(--font-medium);
}
.player_badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.exp_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 20px;
    margin-bottom: 20px;
}
.exp_bar_container {
    width: 100%;
    height: 5px;

    display: flex;
    position: relative;
    margin-bottom: 4px;

    background-color: var(--exp-bar-bg-color);
}
.exp_bar_fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;

    background-color: var(--exp-bar-fill-color);
}

.status_info_sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.status_info_section {
    display: flex;
    flex-direction: column;
}
.status_info_section p {
    margin: 2px 0;
}
.status_info_section label {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
}

/* Reusable */
#content .profile_container a {
    color: #9e97ba;
    text-decoration: none;
    font-weight: normal;
}
#content .profile_container a:hover {
    color: #bdb3e3;
}

.progress_bar_container {
    width: 100%;
    height: 5px;

    display: flex;
    position: relative;

    background-color: var(--progress-bar-bg-color);
}
.progress_bar_container.dark {
    background-color: var(--progress-bar-dark-bg-color);
}

.progress_bar_fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;

    background-color: var(--progress-bar-fill-color);
}


/* Stats */
.stats_container {
    width: 580px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
}
.total_stats {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.total_stats_bar_container {
    margin-top: 3px;
    margin-bottom: 5px;
}

.stat_list {
    width: 47%;

    display: flex;
    flex-direction: column;
    gap: 8px;
}
.stat_list.attributes {
    width: 50%;
}

.stat {
    width: 100%;
    height: 84px;
    position: relative;

    font-size: var(--font-min);

    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 8px;
    /* Make room for the badge */
    padding-left: 20px;
}
.stat h3 {
    margin-bottom: 6px;
}

.stat .badge {
    width: 25px;
    height: 74px;
    position: absolute;

    display: flex;
    align-items: center;
    text-align: center;

    left: -13px;
    top: 4px;

    font-size: 16px;
    color: rgba(255,255,255,0.5);
}
.skills .badge {
    background-image: url(/images/v2/decorations/redplate.png);
}
.attributes .badge {
    background-image: url(/images/v2/decorations/blueplate.png);
}

.profile_row_second {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}
.profile_row_second_col2 {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* Bloodline */
.bloodline_display {
    position: relative;
    align-self: stretch;

    margin-top: 40px;
}
.bloodline_mastery_indicator {
    width: 50px;
    height: 50px;

    position: absolute;
    top: -12px;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2px;

    z-index: 3;
    clip-path: var(--clip-tall-hexagon);
    background: #433b30;
}
.bloodline_mastery_indicator::after {
    content: '';
    position: absolute;

    width: 50px;
    height: 50px;

    top: 2px;
    left: 2px;

    clip-path: var(--clip-tall-hexagon);
    background:  var(--box-color-default);
    z-index: 2;
}

.bloodline_mastery_indicator img {
    max-width: 100%;
    max-height: 100%;

    position: relative;
    z-index: 4;
}
.bloodline_name {
    height: 30px;

    margin-left: 50px;
    padding-right: 7px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}
.bloodline_name::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;

    background-color: var(--box-color-default);
    clip-path: polygon(
            0 0,
            calc(100% - 13px) 0px,
            100% 50%,
            calc(100% - 13px) 100%,
            0 100%,
            0 50%
    );
}
.bloodline_name::after {
    content: '';

    position: absolute;
    right: -5px;

    width: 18px;
    height: 30px;

    background-image: url(/images/v2/decorations/bar_right_corner_30px.png);
    background-repeat: no-repeat;
    z-index: 2;
}

/* Daily Tasks */
.daily_tasks_container {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.daily_tasks_container h2 {
    margin-bottom: 0;
}
.daily_task {
    height: 84px;
    position: relative;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    --angle-width: 18px;
    padding: 5px calc(var(--angle-width) + 1px);
    clip-path: polygon(
        0 50%,
        var(--angle-width) 0,
        calc(100% - var(--angle-width)) 0,
        100% 50%,
        calc(100% - var(--angle-width)) 100%,
        var(--angle-width) 100%,
        0 50%
    );

    background-color: var(--border-color-default);
}
.daily_task::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;

    height: calc(100% - 2px);
    width: calc(100% - 2px);
    background-color: var(--daily-task-active-bg-color);

    clip-path: polygon(
        0 50%,
        var(--angle-width) 0,
        calc(100% - var(--angle-width)) 0,
        100% 50%,
        calc(100% - var(--angle-width)) 100%,
        var(--angle-width) 100%,
        0 50%
    );
}
.daily_task.complete {
    background-color: var(--daily-task-complete-bg-color);
}

.daily_task h3 {
    margin-bottom: 0;
    z-index: 2;
}
.daily_task section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 2;
}

.daily_task .prompt_rewards {
    margin-top: -8px;
    margin-bottom: 5px;
    align-items: flex-end;
}

/* Achievements */
.profile_row_third {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin-top: 20px;
    padding: 16px 20px 20px;

    background:
        url(/images/v2/decorations/nwbigcorner.png) no-repeat top left,
        url(/images/v2/decorations/sebigcorner.png) no-repeat bottom right;
}
.achievements_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 6px;

    gap: 12px;
}
.achievement {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 7px;

    color: var(--font-color-3);
}
.achievement.completed {
    color: var(--font-color-1);
}

.achievement_name {
    font-variant: all-small-caps;
    font-size: var(--font-large);
    margin-bottom: 4px;
}
.achievement_progress {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 4px;
}
.achievement_progress .progress_bar_container {
    margin-right: 15px;
}
.progress_label {
    flex-shrink: 0;
}