#container {
    flex-direction: row-reverse;
}
#headerContainer {
    flex-direction: row-reverse;
}
#footer {
    flex-direction: row-reverse;
}
.header_bar {
    width: var(--content-width);
    margin-left: 0 !important;
    margin-right: var(--content-sidebar-gap);
}