/* Layout */
#travelContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    margin: 20px auto 0 auto;
}
#travelContainer * {
    box-sizing: border-box;
}

:root {
    --scout-container-side-width: 230px;
    --travel-button-size: 30px;
}

.travel-filter {
    width: 95%;
    max-width: calc(1000px);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    background: var(--theme-content-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.travel-wrapper {
    width: 95%;

    flex-grow: 0;
    position: relative;
    padding: var(--travel-button-size);
}

#travel-container {
    height: 600px;
}

@media (max-height: 1200px) {
    #travel-container {
        height: 550px;
    }
}
@media (max-height: 1150px) {
    #travel-container {
        height: 500px;
    }
}
@media (max-height: 1100px) {
    #travel-container {
        height: 450px;
    }
}
@media (max-height: 1000px) {
    #travel-container {
        height: 400px;
    }
}
@media (max-height: 950px) {
    #travel-container {
        height: 350px;
    }
}

.travel-scout-container {
    width: 95%;

    flex-grow: 0;
    display: flex;
}
.travel-scout {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 6px 0;
}
.travel-scout-entry {
    width: 49.5%;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 8px 0 8px 8px;

    background: var(--theme-content-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.12);
}

@media (max-width: 1200px) {
    /* Slightly bigger buttons for small touchscreens */
    .travel-wrapper {
        padding: 40px;
    }
}
@media (max-width: 600px) {
    .travel-wrapper {
        width: calc(95% - 10px - var(--scout-container-side-width));
    }

    .travel-scout-container {
        width: var(--scout-container-side-width);
    }

    .travel-scout-entry {
        width: 100%;
    }
}

/* Filters */
.travel-filter-title {
    flex-grow: 0;
    margin: 0 auto;
    padding: 5px 10px;

    color: var(--theme-text-color-normal);
    font-family: sans-serif;
    font-weight: bold;

}
.travel-filter-options {
    flex-grow: 2;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
}
.travel-filter-options label {
    margin: 0 10px 0 0;

    text-indent: 3px;
    color: var(--theme-text-color-light);
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: sans-serif;
}

/* Map */

/* Scout Container */


/* Misc */
#travel-container .systemMessage-new {
    max-width: 85%;
}


.travel-messages {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: 10000;
}

.travel-message {
    display: inline-block;
    text-align: center;
    padding: 5px 10px;

    font-family: sans-serif;
    color: var(--theme-text-color-normal);
}




.travel-actions {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
}

.travel-buttons {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

#content .travel-buttons .button {
    font-family: sans-serif;
    text-transform: none;
}

.travel-actions a {
    flex-grow: 1;
    display: block;
    width: 33.333%;
    height: 33.333%;
    z-index: 1;
    position: relative;

    cursor: pointer;
    user-select: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;

    background: var(--theme-content-darker2-bg-color);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12) inset;
}

:root {
    --travel-arrow-size: 16px;
    --travel-arrow-half-size: 8px;
}
.travel-actions a::before {
    content: ">";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--travel-arrow-size);
    width: var(--travel-arrow-size);
    color: var(--theme-text-color-normal);
}
.travel-actions a.north::before {
    top: var(--travel-arrow-half-size);
    left: calc(50% - var(--travel-arrow-half-size));
    right: calc(50% - var(--travel-arrow-half-size));
    transform: rotate(-90deg);
}
.travel-actions a.northeast::before {
    top: var(--travel-arrow-half-size);
    right: var(--travel-arrow-half-size);
    transform: rotate(-45deg);
}
.travel-actions a.east::before {
    right: var(--travel-arrow-half-size);
    top: calc(50% - var(--travel-arrow-half-size));
    bottom: calc(50% - var(--travel-arrow-half-size));
    transform: rotate(0deg);
}
.travel-actions a.southeast::before {
    bottom: var(--travel-arrow-half-size);
    right: var(--travel-arrow-half-size);
    transform: rotate(45deg);
}
.travel-actions a.south::before {
    bottom: var(--travel-arrow-half-size);
    left: calc(50% - var(--travel-arrow-half-size));
    right: calc(50% - var(--travel-arrow-half-size));
    transform: rotate(90deg);
}
.travel-actions a.southwest::before {
    bottom: var(--travel-arrow-half-size);
    left: var(--travel-arrow-half-size);
    transform: rotate(135deg);
}
.travel-actions a.west::before {
    left: var(--travel-arrow-half-size);
    top: calc(50% - var(--travel-arrow-half-size));
    bottom: calc(50% - var(--travel-arrow-half-size));
    transform: rotate(180deg);
}
.travel-actions a.northwest::before {
    top: var(--travel-arrow-half-size);
    left: var(--travel-arrow-half-size);
    transform: rotate(-135deg);
}

.travel-actions a:nth-of-type(4),
.travel-actions a:nth-of-type(5) {
    width: 50%;
    flex-grow: 2;
}
.travel-actions a.active, .travel-actions a.active:hover {
    background: var(--theme-content-bg-color);
}
@media(hover: hover) {
    .travel-actions a:hover {
        background: var(--theme-content-darker-bg-color);
        transition: background-color 200ms ease-in-out;
    }
}

#travel-container {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 10;

    background: var(--theme-content-darker-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.12);
}

#travel-x-container {
    flex-grow: 0;
    width: 100%;
    height: 32px;
    padding-left: 31px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-self: flex-start;
    overflow: hidden;

    background: var(--theme-content-darker2-bg-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#travel-y-container {
    flex-grow: 0;
    width: 32px;
    height: calc(100% - 32px);
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;

    background: var(--theme-content-darker-bg-color);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.travel-gutter-grid {
    width: 32px;
    height: 32px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    color: var(--theme-text-color-normal);

    background: var(--theme-content-darker-bg-color);
}

.travel-gutter-grid-x {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.travel-gutter-grid-x:first-of-type {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.travel-gutter-grid-x:last-of-type {
    border-right: 0;
}

.travel-gutter-grid-y {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.travel-gutter-grid-y:last-of-type {
    border-bottom: 0;
}

#travel-map-container {
    flex-grow: 2;
    position: relative;
    overflow: hidden;

    background: url("../../../images/map/backgrounds/fogofwar.png");
}

#map_background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
}

.map_grid_lines {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.map_grid_lines div {
    display: flex;
    position: absolute;

    border-right: 1px solid rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.map_locations {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.map_location {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}

.map_locations_tooltip {
    display: none;
    position: absolute;
    bottom: 110%;
    left: -100%;
    right: 0;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    width: 100px;

    background: var(--theme-content-bg-color);
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(38, 35, 30, 0.46);

    font-family: sans-serif;
    color: var(--theme-text-color-normal);
}

.map_locations > div:hover .map_locations_tooltip {
    display: block;
}

#map_player {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
}

.travel-scout-entry::before {
    content: '';
    width: 2px;
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    border-radius: 2px;
}

.travel-scout-ally::before {
    background: #58ce58;
}

.travel-scout-neutral::before {
    background: #c6ce58;
}

.travel-scout-enemy::before {
    background: #ff0000;
}

.travel-scout-name {
    min-width: 190px;
    word-break: break-all;
    display: flex;
    flex-flow: row nowrap;
    text-indent: 5px;

    padding-right: 5px;

    flex-grow: 2;
    align-items: center;
}
#content .travel-scout-name a {
    width: 100%;
    text-decoration: none;
    color: var(--theme-text-color-normal);
    font-size: 1em;
    font-family: sans-serif;
    font-weight: normal;
}
#content .travel-scout-name a:hover {
    color: var(--theme-text-color-light);
}
.travel-scout-name span {
    width: 50%;
    min-width: 100px;

    color: var(--theme-text-color-light);
    font-size: 0.75em;
    font-family: sans-serif;

}

@media (max-width: 600px) {
    .travel-scout-name {
        min-width: 100px;
    }
}


.travel-scout-faction {
    margin: 0 5px;

    /*box-shadow: 0 0 2px #000000 inset;*/
    /*background: rgba(10, 10, 12, 0.7);*/
    /*border-radius: 100%;*/
    /*border: 1px solid #b99e471f;*/
}

.travel-scout-faction img {
    width: 20px;
    height: auto;
    max-height: 20px;
}

.travel-scout-location {
    justify-self: flex-end;
    width: 55px;
    text-align: center;

    color: var(--theme-text-color-light);
    font-family: sans-serif;
    font-size: 1em;
}

.travel-scout-attack {
    width: 30px;
    height: 30px;
}

.travel-scout-attack a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;

    background-image: url("../../../images/map/icons/attack-off.png");
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.travel-scout-attack a:hover {
    background-image: url("../../../images/map/icons/attack-on.png");
}

.travel-scout-attack span {
    display: block;
    width: 100%;
    height: 100%;

    background-image: url("../../../images/map/icons/in-battle.png");
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center;
}

/* temp fix for travel sync with side menu */
#container .sm-tmp-invillage .not-allowed-in-village {
    opacity: 0.3;
    cursor: not-allowed;
}
#container .sm-tmp-invillage .not-allowed-in-village:hover {
    color: var(--theme-text-color-light);
    background-image: none;
}

#container .sm-tmp-outvillage .only-allowed-in-village {
    opacity: 0.3;
    cursor: not-allowed;
}
#container .sm-tmp-outvillage  .only-allowed-in-village:hover {
    color: var(--theme-text-color-light);
    background-image: none;
}