.navigation_row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav_button {
    width: 150px;
    height: 30px;
    background: linear-gradient(to bottom, #3b4176 50%, #2f345e 50%);
    line-height: 25px;
    font-variant: small-caps;
    text-align: center;
    color: #ccc1af;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
}
.purchase_button {
    margin: 5px auto;
    width: 100px;
    height: 20px;
    background: linear-gradient(to bottom, #3b4176 50%, #2f345e 50%);
    line-height: 18px;
    font-variant: small-caps;
    text-align: center;
    color: #ccc1af;
    cursor: pointer;
    user-select: none;
}

.nav_button:hover, .purchase_button:hover {
    color: white;
    background: linear-gradient(to bottom, #6f3043 50%, #622231 50%);
}
.nav_button.selected {
    opacity: 30%;
    pointer-events: none;
}
.nav_button.selected:hover {
    color: #ccc1af;
    background: linear-gradient(to bottom, #3b4176 50%, #2f345e 50%);
    cursor: default;
}

#premiumShopContainer {
    width: 97%;
    margin: 10px auto;
}

.purchaseContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6px;
    gap: 12px;
}
.subPurchaseContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
    gap: 6px;
}

.box-primary {
    padding: 1px;
}
.box-secondary {
    padding: 5px;
}
.box-secondary.noBorder {
    border: none !important;
}

.halfWidth {
    display: flex;
    max-width: 48%;
    flex-basis: 48%;
    flex-direction: column;
    justify-content: space-between;
}
.fullWidth {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.purchaseSelectField {
    width: 25%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
}
.purchaseTextField {
    width: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
}

.center {
    text-align: center;
}