.modal {
    min-width: 400px;
    min-height: 150px;
    background-color: var(--modal-background-color, #141317);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
    border: 1px solid #4d4434;
    outline: 1px solid #25232d;
    outline-offset: 1px;
}
.modal_header {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #141317;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--font-primary);
    font-variant: var(--font-primary-variant);
    color: var(--font-color-1);
    margin-bottom: 11px;
}
.modal_text {
    height: 100%;
    border-top: 1px solid #1e1d23;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: var(--modal-text-color, #eee1c8);
    white-space: pre-wrap;
}
.modal_cancel_button {
    clip-path: polygon(8px 0, calc(100% - 8px) 0px, 100% 50%, calc(100% - 8px) 100%, 8px 100%, 0 50%);
    width: 125px;
    height: 25px;
    background: var(--modal-close-background-color, linear-gradient(to bottom, #6f3043 50%, #622231 50%));
    line-height: 20px;
    font-variant: small-caps;
    text-align: center;
    color: var(--modal-close-text-color, #f3c4bc);
    cursor: pointer;
    user-select: none;
    position: absolute;
    right: 50px;
    bottom: -15px;
}
    .modal_cancel_button:hover {
        color: white;
    }
.modal_close_button {
    clip-path: polygon(8px 0, calc(100% - 8px) 0px, 100% 50%, calc(100% - 8px) 100%, 8px 100%, 0 50%);
    width: 125px;
    height: 25px;
    background: var(--modal-close-background-color, linear-gradient(to bottom, #6f3043 50%, #622231 50%));
    line-height: 20px;
    font-variant: small-caps;
    text-align: center;
    color: var(--modal-close-text-color, #f3c4bc);
    cursor: pointer;
    user-select: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
}
    .modal_close_button:hover {
        color: var(--modal-close-text-hover, white);
    }
.modal_confirm_button {
    clip-path: polygon(8px 0, calc(100% - 8px) 0px, 100% 50%, calc(100% - 8px) 100%, 8px 100%, 0 50%);
    width: 125px;
    height: 25px;
    background: var(--modal-confirm-background-color, linear-gradient(to bottom, #3b4176 50%, #2f345e 50%));
    line-height: 20px;
    font-variant: small-caps;
    text-align: center;
    color: var(--modal-confirm-text-color, #ccc1af);
    cursor: pointer;
    user-select: none;
    position: absolute;
    left: 50px;
    bottom: -15px;
}
    .modal_confirm_button:hover {
        color: var(--modal-confirm-text-hover, white);
    }
.modal_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    filter: blur(5px);
}
