.wartable_container .row.third .column.first {
    width: 100%;
}
.war_records_container {
    display: flex;
    width: 100%;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}
.war_record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 55px;
    border: 1px solid var(--war-record-border-color, #17161b);
    cursor: pointer;
}
    .war_record:hover {
        filter: url("#war_record_hover");
    }
.war_record_details_container {
    display: flex;
    flex-direction: column;
    flex-basis: 55%;
    margin-bottom: 8px;
}
.war_record_relation_name {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
}
    .war_record_relation_name.active {
        color: var(--war-record-relation-name-active, #eee1c8);
        text-shadow: var(--war-record-relation-name-active-shadow, 0 0 1px #ac3b3b, 0 0 3px #ac3b3b);
    }
    .war_record_relation_name.inactive {
        color: var(--war-record-relation-name-inactive, #9498a9);
    }
.war_record_label_row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -5px;
}
.war_record_score {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    flex: 1;
}
    .war_record_score.left {
        color: var(--war-record-score-left-color, #ffcdcd);
        text-shadow: var(--war-record-score-left-shadow, 0 0 1px #ac3b3b, 0 0 2px #ac3b3b, 0 0 4px #ac3b3b);
        text-align: left;
        padding-left: 12px;
    }
    .war_record_score.right {
        color: var(--war-record-score-right-color, #a3ffc3);
        text-shadow: var(--war-record-score-right-shadow, 0 0 1px #006827, 0 0 2px #006827, 0 0 4px #006827);
        text-align: right;
        padding-right: 12px;
    }
    .war_record_score.inactive {
        color: var(--war-record-score-inactive-color, #9498a9);
        text-shadow: none;
    }
.war_record_status {
    font-variant: small-caps;
    font-weight: bold;
}
    .war_record_status.active {
        color: var(--war-record-status-active-color, #eee1c8);
        text-shadow: var(--war-record-status-active-shadow, 0 0 1px #ac3b3b, 0 0 3px #ac3b3b);
    }
    .war_record_status.inactive {
        color: color(--war-record-status-inactive-color, #9498a9);
    }
.war_record_score_bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5px;
    margin-top: 1px;
    margin-bottom: 2px;
    position: relative;
}
.war_record_score_bar_attacker {
    height: 5px;
    background: linear-gradient(to right, #832727, #d9837e);
    clip-path: polygon(4px 0, 100% 0px, 100% 100%, 4px 100%, 0 50%);
}
.war_record_score_bar_defender {
    height: 5px;
    background: linear-gradient(to left, #235f39, #73cd8d);
    clip-path: polygon(0 0, calc(100% - 4px) 0px, 100% 50%, calc(100% - 4px) 100%, 0 100%);
}
.war_record_score_divider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.war_record_score_victory_marker {
    position: absolute;
    bottom: -12px;
    height: 16px;
    transform: translateX(-8px);
}
.war_record_village {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 44px;
    width: 44px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.war_record_village_inner {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.war_record_village.left {
    background: #5c0b0b;
    margin-left: -35px;
}
    .war_record_village.left .war_record_village_inner {
        background: #842626;
    }
.war_record_village.right {
    background: #002e17;
    margin-right: -35px;
}
    .war_record_village.right .war_record_village_inner {
        background: #194932;
    }
.village_warlog_container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-top: -15px;
}
.village_warlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 420px;
    margin-top: 20px;
    background: var(--village-warlog-background, #141317);
}
.village_warlog_header {
    display: flex;
    justify-content: center;
    height: 55px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95%
}
.village_warlog_header_name {
    font-size: 20px;
    font-family: var(--font-secondary);
    color: #c7b070;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 30px;
    padding-left: 10px;
}
.village_warlog_header_policy {
    color: #b6bdd0;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 40px;
    padding-left: 10px;
}
.village_warlog_header_war_score {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    margin-left: auto;
    padding-right: 40px;
    text-align: right;
    line-height: 30px;
}
    .village_warlog_header_war_score.attacker {
        color: #ffcdcd;
        text-shadow: 0 0 1px #ac3b3b, 0 0 2px #ac3b3b, 0 0 4px #ac3b3b;
    }
    .village_warlog_header_war_score.defender {
        color: #a3ffc3;
        text-shadow: 0 0 1px #006827, 0 0 2px #006827, 0 0 4px #006827;
    }
.village_warlog_chart_row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    border-top: 1px solid #302c26;
    border-bottom: 1px solid #302c26;
    flex-direction: row;
    gap: 40px;
    width: 90%;
}
.village_warlog_chart_breakdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: 100%;
}
.village_warlog_chart_breakdown_row {
    display: flex;
    align-items: center;
    gap: 8px;
    font-variant: small-caps;
}
.village_warlog_details {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.village_warlog_details_item {
    flex-basis: 25%;
}
.village_warlog_details_label {
    font-size: 12px;
    font-weight: bold;
    font-family: var(--font-primary);
    font-variant: var(--font-primary-variant);
    color: var(--font-color-1);
}
.village_warlog_details_value {
    color: var(--village-font-color-1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}