html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}


/* Header */
body {
	background-color: #525d62;
	/* background-image: url(images/body_bg_texture.png); */
	background-image: url(images/bg_diag_lines.png);
}
#header {
	/* Structure */
	width: 1100px;
	padding: 0px 50px;
	margin: auto;
	margin-top: 0px;
	
	height: 150px;
	position: relative;
	z-index: 500;
	
	/* Style */
	/* border-bottom:1px solid #000; */
	box-shadow: 0px 19px 15px -15px #000000;
}
#header img#banner {
	display: block;
	margin-left: 100px;

	border: 0px;
}
#topMenu {
	width: 750px;
	
	position: relative;
	top: -61px;
	
	margin-left: 100px;
	margin-top: 15px;
	/* Temp */

	
}
#topMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#topMenu li {
	display: inline;
	margin-right:20px;
}
#topMenu a {
	display: inline-block;
	padding: 8px;
	
	/* style */
	border-radius: 10px;
	
	text-decoration: none;
	text-transform: uppercase;
	color: #1C1C1C;
	font-size: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	
	text-shadow: 0 1px 0px #505050;
}
#topMenu a:hover {
	transition: 0.2s;
	color: #CD252C;
	/* text-shadow: 1px 1px 3px #EAEAEA; */
}


/* Content */
#container {
	/* Structure */
	width: 1000px;
	position:relative;
	
	margin-left: auto;
	margin-right: auto;
	padding-bottom:37px;
	margin-bottom:0px;
	
	/* Temp */
	
	/* Style */
	background-color: #FFFFFF;
}

#content {
	width: 700px;
	min-height:500px;

	float: left;
    margin-left: 10px;
}
h2#title {
	margin-left:30px;
	font-size:36px;
	color:#B64332;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Side bar */
#sideMenu  {
	width: 215px;
	
	float: right;
	margin-right: 30px;
	position: relative;
	z-index: 10;
	
	padding-top: 15px;
	padding-bottom: 20px;
	
	/* Style */
	background-color: #EAEAEA;
	background: linear-gradient(to right, #E4E4E4, #EFEFEF, #E4E4E4);
	
}
#sideMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	
	margin-top: 91px;
}
#sideMenu li {
	margin-top:1px;
	margin-bottom:1px;
	margin-left:8px;
}
#sideMenu h2 {
	width:265px;
	height:55px;
	
	background-image: url(images/menu_header_kunai.png);
	background-repeat:no-repeat;
	
	margin: 0px;
	margin-top:15px;
	margin-bottom:4px;

	position:relative;
	right: 27px;
}
#sidemenu h2 p {
	font-size:20px;
	font-weight:normal;
	padding-left:55px;
	padding-top:18px;
	margin:0px;
	color: #800000;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-shadow: 0px -1px 0px #000000, 0px 1px 0px #E01040;
	font-style: italic;
}
#sidemenu div.headerMargin {
	margin-top:0px;
	margin-bottom: 50px;
}
#sidemenu a {
	padding-left:22px;
	text-decoration: none;
	color: #363636;
	font-size: 18px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
	text-shadow: 0 1px 1px #FFFFFF;
	
}
#sidemenu a:hover {
	color: #D62022;
	/* text-shadow: 1px 1px 3px #EAEAEA; */
	
	background-image: url(../../images/icons/shuriken_smaller.png);
	background-repeat: no-repeat;
	background-position: 0px 4px;
}
#sideMenuBg {
	width:215px;
	position:absolute;
	top:0px;
	bottom:0px;
	right:30px;
	z-index:1;
	
	background-color:#EAEAEA;
	background: linear-gradient(to right, #E4E4E4, #EFEFEF, #E4E4E4);
}
#logout {
	margin-top: 15px;
	
	text-align: center;
	font-weight: bold;
}
#logout a {
	padding-right: 22px;
}

/* Footer */
#footer {
	width:1051px;
	/*
	position:absolute;
	bottom: 0px;
	left:-66px;
	z-index: 9;
	*/
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	height:37px;

	padding-bottom:10px;
	
	background-image: url(images/footer_bg.png);
	background-repeat: no-repeat;
}


/* Body content styling */
#content  {
	color: #303030;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	
	position: relative;
}

.avatarFrame {
	margin:0px;
	margin-right:15px;
	
	width: 150px;
	height: 150px;
	
	padding: 10px 2px;
	
	text-align:center;
	
	border:1px solid #FFFFFF;
	
	border-radius:10px;
	box-shadow: 2px 2px 5px 0px #202020;
}
.avatarFrame img {
	display: block;
	margin:auto;
	max-width: 150px;
	max-height: 150px;
	margin-bottom: 5px;
	
	border: 0px;
}

label {
	display: inline-block;
}

#content table.table {
	margin: auto;
	margin-top:25px;
	padding:0px;
	width: 95%;
	
	table-layout: fixed;
	
	/* Style */
	color: inherit;
	font-size: inherit;
	
	background-color: #FAFAFA;
	background: linear-gradient(to bottom right, #FAFAFA, #F0F0F0);
	
	border: 1px solid #D0D0D0;
	border-radius:16px;
	border-spacing: 0px;
}
#content table.table td, table.globalMessage td {
	padding: 5px;
	border: 1px solid #D0D0D0;
	max-width: 100%;
}
#content table.table th , table.globalMessage th {
	padding: 2px;
	background-color: #E7584A;
	background: linear-gradient(#E7584A, #B84433);
	
	font-size: 14px;
	
	color: #202020;
	border-bottom:1px solid #202020;
	text-shadow: 0px 1px 0px #606060;
}

#content .button {
	display: inline-block;
	padding: 5px 7px;
	margin-bottom: 5px;
	
	/* Style */
	background: linear-gradient(#EFEFEF, #E4E4E4);
	border: 1px solid #E0E0E0;
	border-radius: 15px;
	
	text-align:center;
	
	box-shadow: 0 0 4px 0 rgba(0,0,0,0);
}

/* Border rounding on table */
#content table.table tr:first-child td:first-child, #content table.table tr:first-child th:first-child  {
	border-top-left-radius: 15px;
}
#content table.table tr:first-child td:last-child, #content table.table tr:first-child th:last-child  {
	border-top-right-radius: 15px;
}
#content table.table tr:last-child td:first-child  {
	border-bottom-left-radius: 15px;
}
#content table.table tr:last-child td:last-child  {
	border-bottom-right-radius: 15px;
}


table.globalMessage {
	margin: auto;
	margin-top:25px;
	padding:0px;
	
	table-layout: fixed;
	
	/* Style */
	color: inherit;
	font-size: inherit;
	
	background-color: #FAFAFA;
	background: linear-gradient(to bottom right, #FAFAFA, #F0F0F0);
	
	border: 1px solid #D0D0D0;
	border-radius:16px;
	border-spacing: 0px;
}

table.globalMessage tr:first-child td:first-child, table.globalMessage tr:first-child th:first-child  {
	border-top-left-radius: 15px;
}
table.globalMessage tr:first-child td:last-child, table.globalMessage tr:first-child th:last-child  {
	border-top-right-radius: 15px;
}
table.globalMessage tr:last-child td:first-child  {
	border-bottom-left-radius: 15px;
}
table.globalMessage tr:last-child td:last-child  {
	border-bottom-right-radius: 15px;
}


#content .contentHeader {
	/* Structure */
	margin-top: 25px;
	margin-left: 25px;
	
	/* Style */
	font-size: 30px;
	font-weight: bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #A02000;
}

#footer p {
	margin: 0px;
	text-align:center;
	padding-top:10px;
}

/* Imported */

#content a, a:visited {
	color:#000030;
	font-weight:bold;
}
#content a:hover {
	color:#CA2020;
	text-decoration:none;
}

a.link, a.link:visited {
	color:#000030;
	font-weight:bold;
}
a.link:hover {
	color:#CA2020;
	text-decoration:none;
}

form {
	margin:0px;
}
p {
	margin-bottom:5px;
}

.bold {
	font-weight:bold;
}
#content .bold {
	font-weight:bold;
}

.systemMessage {
	position: absolute;
	margin: 0px;
	width: 630px;
	padding-left: 10px;
	
	left: 0px;
	top: 60px;
	
	z-index: 50;
	
	/* Style */
	font-size: 14px;
	text-align: center;
	color: #00A000;
}
.trainingNotification {
	width: 215px;
	position: absolute;
	right: 30px;
	top: 56px;
	
	z-index: 20;
	
	
	margin: 0px;
	padding: 4px 0px;
	
	/* Style */
	text-align: center;
	
	color: #303030;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
}

#notifications {	
	width: 215px;
	height: 20px;
	position: absolute;
	right: 30px;
	z-index: 20;

	padding-top: 10px;
	
	/* Style */
	text-align:center;
}
#notificationSlider {
	width: 200px;
	display: inline-block;
	margin: 0px;
	height: 20px;
}
#notificationSlider p.notification {
	width: 200px;
	display: none;
	margin: 0px 1px;
	
	text-align:center;
}
#notificationSlider p.notification:first-child {
	display: block;
}

#notifications a.link {
	font-size:15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight:bold;
	color: #CF4020;
	text-decoration: none;
}
#notifications p.notification a.link:hover {
	color: #FFFFFF;
}
#notifications .header {
	display: none;
}

#notifications .slideButtonLeft {
	display: block;
	position: absolute;
	z-index: 25;
	left: 2px;
	top: 10px;
	
	height: 12px;
	width: 12px;
	
	padding: 3px;
	
	background-color: rgba(0,0,0,0);
	border-radius: 15px;
}
#notifications .slideButtonRight {
	display: block;
	position: absolute;
	z-index: 25;
	right: 2px;
	top: 10px;
	
	height: 12px;
	width: 12px;
	
	padding: 3px;
	
	background-color: rgba(0,0,0,0);
	border-radius: 15px;
}
#notifications .slideButtonLeft:hover, #notifications .slideButtonRight:hover {
	background-color: #FAFAFA;
	cursor: pointer;
}

/* Login menu styling */
#login {
	text-align:center;
}
#login span {
	font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

#content table.table td.newsFooter {
	text-align:right;
	background-color:#EAEAEA;
	padding:2px;
	padding-right:5px;
	
	font-size:14px;
	font-family:"comic sans ms";
	
	/* text-shadow:1px 1px #CCCCCC; */
}

#content a.imageLink {
	text-decoration: none;
}

/* Username colors */

#content .premiumUser, #content .premiumUser:hover {
	background: transparent url("/images/premium_glow.gif") repeat scroll 0% 0%;
	text-shadow: 0px 1px .75px rgba(161, 161, 161, 0.5), 0px -1px .75px rgba(161, 161, 161, 0.5), -1px 0px .5px rgba(161, 161, 161, 0.5), 1px 0px .5px rgba(161, 161, 161, 0.5);
}
#content .staffMember {
	width: 100%;
	margin: 1px 0px 3px;
	padding: 0px;
	font-size: 10px;
	text-transform: uppercase;
	color: #E0E0E0;
	text-shadow: 0px -1px 1px;
}

#content .blue, #content a.blue:hover  {
	color: #0000C0;
}
#content .pink, #content a.pink:hover {
	color: #E030C0;
}
#content .red, #content a.red:hover {
	color: #CF4020;
}
#content .gold, #content a.gold:hover {	
	color: rgb(255,215,0);
}

#content .moderator, #content a.moderator:hover {
	color: #009020;
}
#content .headModerator, #content a.headModerator:hover {
	color: #0090A0;
}
#content .administrator, #content a.administrator:hover {
	color: #A00000;
}

#content a.chat.normalUser, #content a.chat.normalUser:hover {
	color: #000000;
}

#content a.userLink {
	text-decoration: none;
}
#content a.userLink:hover {
	text-decoration: underline;
}

#content table.table td.rowHeader {
	padding:1px 0px;
	border:0px;
	border-bottom:1px solid #000000;
	font-weight:bold;
	text-align:center;
}
#content table.table td.row1 {
	padding:1px 0px;
	border:0px;
	background-color:#EEEEEE;
}
#content table.table td.row2 {
	padding:1px 0px;
	border:0px;
	background-color:#F7F7F7;
}
#content table.table td.row1:first-child {
	padding-left:8px;
}
#content table.table td.row2:first-child {
	padding-left:8px;
}

/* Overflow fixes */
#content table.table img {
	max-width: 100%;
}
#content table.table td {
	overflow-wrap: break-word;
}
#socialPosts table.table tr td:first-child {
	overflow-wrap: normal;
	padding:3px;
}

#content table.map {
	max-width: 600px;
	border-radius: 15px;
}
#content table.map td {
	height: 32px;
	width: 32px;
}

#content ul.submenu {
	width: 90%;
    margin: 20px auto auto;
    padding:0px;
	
	border: 1px solid #000000;
	border-radius: 30px;
	background-color:#505050;
	text-align: center;
}
#content ul.submenu li {
	list-style: none;
	display: inline-block;
	text-align: center;
	
	background-color: #404040;
	background: linear-gradient(to bottom, #F4F4F4, #E8E8E8);
}
#content ul.submenu li:first-child {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
#content ul.submenu li:last-child {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}
#content ul.submenu li:hover {
	background: linear-gradient(to bottom, #E8E8E8, #F4F4F4);
}
#content ul.submenu a {
	display: inline-block;
	width:100%;
	font-size: 14px;
	
	padding: 2px 0px;
	text-decoration: none;

	/*border: 1px solid #EAEAEA;
	border-radius: 10px;
	box-shadow: 0 0 4px 2px #EAEAEA;*/
}
#content ul.submenu a:hover {
	color: inherit;
	/*border-color: #DADADA;
	box-shadow: 0 0 6px 2px #D0D0D0;*/
}

#content .submenuMargin {
	margin-bottom:15px;
}

#handseals {
	text-align: center;
}

#content ul.submenu input.link {
	display: inline-block;
	width:100%;
	font-size: 14px;

	padding: 2px 0px;
	text-decoration: none;
	background:none;
	border:0px;
	margin:0px;

	color:#000030;
	font-weight:bold;
	font-family: inherit;
	cursor: pointer;
}
input.link:hover {
	color:#FFFFFF;
	text-decoration:none;
}

br.clear {
	clear:both;
	margin:0px;
}
