html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #111111;
}

#header {
	/* Structure */
	width: 700px;
	padding: 0px;
	margin: 0 auto auto 90px;
	
	position: absolute;
	top: 0;
	
	/* Style */
	/* border-bottom:1px solid #000; */
}

#topMenu {
	width: 700px;
	height: 30px;
	padding: 3px 0px;
	
	background: linear-gradient(to bottom, #3A3230, #1f1c1d, #1f1c1d);
	border-radius: 5px;
	
	position: relative;
	top: 0px;
	
	margin-top: 0px;
	
}
#topMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
#topMenu li {
	display: inline;
	margin-left:30px;
}
#topMenu a {
	display: inline-block;
	padding: 6px;
	
	/* style */
	border-radius: 10px;
	
	text-decoration: none;
	text-transform: uppercase;
	color: #e3d7bc;
	font-size: 14px;
	font-family: Corbel, sans-serif;
}

#topMenu a:hover {
	transition: 0.2s;
	color: #ffffff;
	/* text-shadow: 1px 1px 3px #EAEAEA; */
}

/* Content */
#container {
	/* Structure */
	width: 1145px;
	position: relative;
	
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 37px;
	margin-bottom: 0px;
	
	/* Temp */
	
	/* Style */
	background-color: #131313;
	background-image: url(./images/banner2.png);
	background-repeat: no-repeat;
}

#content {
	width: 700px;
	min-height: 500px;
	background-color: #1f1c1d;
	
	padding-bottom: 5px;
	
	border:1px solid #000000;
	
	float: left;
	margin-left: 90px;
	margin-top: 220px;
}
h2#title {
	margin-left: 30px;
	font-size: 36px;
	color: #afa490;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Side bar */
#sideMenu  {
	width: 215px;
	min-height: 600px;
	
	float: right;
	margin-right: 100px;
	position: relative;
	z-index: 10;
	
	/* Style */
	background-color: #1f1c1d;
	
}
#sideMenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	
	margin-top: 220px;
}
#sideMenu li {
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 8px;
}
#sideMenu h2 {
	width: 215px;
	height: 35px;
	
	background-image: url(images/sidemenu_bg.png);
	background-repeat: no-repeat;
	
	margin: 0px;
	margin-top: 15px;
	margin-bottom: 4px;

	position: relative;
}
#sidemenu h2 p {
	font-size: 16px;
	font-weight: normal;
	
	margin: 0px;
	padding-top: 8px;
	padding-left: 10px;
	
	text-transform: uppercase;
	
	color: #a29986;
	font-family: Corbel;
	/*font-family: Corbel, sans-serif;*/

}

#sidemenu div.headerMargin {
	margin-top: 0px;
	margin-bottom: 50px;
}

#sidemenu a {
	padding-left: 22px;
	text-decoration: none;
	
	color: #a29986;
	font-family: Corbel, sans-serif;
}
#sidemenu a:hover {
	color: #eee6d5;
	/* text-shadow: 1px 1px 3px #EAEAEA; */
	
	transition: 0.2s;		
}

#sideMenuBg {
	width: 215px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 100px;
	z-index: 1;
	
	margin-top: 230px;
	
	background-color: #1f1c1d;
}

#logout {
	margin-top: 15px;
	
	text-align: center;
	font-weight: bold;
}
#logout a {
	text-transform: uppercase;
	padding-right: 22px;
	color: #c6b9a2;
}
#logout a:hover {
	padding-right: 22px;
	color: #a29986;
}
#logoutTimer {
	color: #c6b9a2;
}

/* Footer */
#footer {
	width:1051px;
	/*
	position:absolute;
	bottom: 0px;
	left:-66px;
	z-index: 9;
	*/
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	height:37px;

	padding-bottom:10px;
	
}


/* Body content styling */
#content  {
	color: #303030;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	
	position: relative;
}

.avatarFrame {
	margin:0px;
	margin-right:15px;
	
	width: 150px;
	height: 150px;
	
	padding: 10px 2px;
	
	text-align:center;
	
	border:1px solid #FFFFFF;
	
	border-radius:10px;
	box-shadow: 2px 2px 5px 0px #202020;
}
.avatarFrame img {
	display: block;
	margin:auto;
	max-width: 150px;
	max-height: 150px;
	margin-bottom: 5px;
	
	border: 0px;
}

label {
	display: inline-block;
}

#content table.table {
	margin: auto;
	margin-top:30px;
	padding:0px;
	width: 95%;
	
	table-layout: fixed;
	
	/* Style */
	color: inherit;
	font-size: inherit;
	
	/*background-color: #faf7f0;*/
	background-color: #efe9da;
	
	border: 1px solid #000000;
	border-radius:10px;
	border-spacing: 0px;
}
#content table.table td {
	padding: 5px;
	border: 1px solid #D0D0D0;
	max-width: 100%;
}
#content table.table th {
	padding: 2px;
	background-color: #332a2e;
	
	font-size: 14px;
	
	color: #afa490;
	border-bottom:1px solid #202020;
	text-shadow: 0px 1px 0px #000000;
}

#content .button {
	display: inline-block;
	padding: 5px 7px;
	margin-bottom: 10px;
	
	/* Style */
	background: linear-gradient(#EFEFEF, #E4E4E4);
	border: 1px solid #E0E0E0;
	border-radius: 15px;
	
	text-align:center;
	
	box-shadow: 0 0 4px 0 rgba(0,0,0,0);
}

/* Border rounding on table */
#content table.table tr:first-child td:first-child, #content table.table tr:first-child th:first-child  {
	border-top-left-radius: 7px;
}
#content table.table tr:first-child td:last-child, #content table.table tr:first-child th:last-child  {
	border-top-right-radius: 7px;
}
#content table.table tr:last-child td:first-child  {
	border-bottom-left-radius: 7px;
}
#content table.table tr:last-child td:last-child  {
	border-bottom-right-radius: 7px;
}
#content table.table td.row1:first-child {
	padding-left:8px;
}
#content table.table td.row2:first-child {
	padding-left:8px;
}

#content .contentHeader {
	/* Structure */
	margin-top: 25px;
	margin-left: 20px;
	
	/* Style */
	font-size: 24px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #a59b88;
}

#footer p {
	margin: 0px;
	text-align:center;
	padding-top:10px;
}

/* Imported */

#content a, a:visited {
	color:#786e81;
	font-weight:bold;
}
#content a:hover {
	color:#FFFFFF;
	text-decoration:none;
}

#content td a {
	color: #000030;
}
#content td a:hover {
	color:#786e81;
}

a.link, a.link:visited {
	color:#786e81;
	font-weight:bold;
}
a.link:hover {
	color:#FFFFFF;
	text-decoration:none;
}

form {
	margin:0px;
}
p {
	margin-bottom:5px;
}

.bold {
	font-weight:bold;
}
#content .bold {
	font-weight:bold;
}

.systemMessage {
	position: absolute;
	margin: 0px;
	width: 670px;
	
	left: 0px;
	top: 52px;
	
	z-index: 50;
	
	/* Style */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	text-align: center;
	color: #3ec03e;
}
.trainingNotification {
	width: 215px;
	position: absolute;
	right: 100px;
	top: 160px;
	
	z-index: 20;
	
	
	margin: 0px;
	padding: 4px 0px;
	
	/* Style */
	text-align: center;
	
	color: #eee6d5;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
}

#notifications {	
	width: 215px;
	height: 100px;
	position: absolute;
	right: 100px;
	z-index: 20;

	padding-top: 10px;
	
	/* Style */
	text-align:center;
}
#notificationSlider {
	width: 200px;
	display: inline-block;
	margin: 0px;
	height: 20px;
}
#notificationSlider p.notification {
	width: 200px;
	display: none;
	margin: 0px 1px;
	
	text-align:center;
}
#notificationSlider p.notification:first-child {
	display: block;
}

#notifications a.link {
	font-size:15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #b697a3;
	text-decoration: none;
	text-transform: uppercase;
}
#notifications p.notification a.link:hover {
	color: #9c9281;
}
#notifications .header {
	display: none;
}

#notifications a.link.red, #notifications a.red:hover {
	color: #DF0020;
}

#notifications .slideButtonLeft {
	display: block;
	position: absolute;
	z-index: 25;
	left: 2px;
	top: 10px;
	
	height: 12px;
	width: 12px;
	
	padding: 3px;
	
	background-color: rgba(0,0,0,0);
	border-radius: 15px;
}
#notifications .slideButtonRight {
	display: block;
	position: absolute;
	z-index: 25;
	right: 2px;
	top: 10px;
	
	height: 12px;
	width: 12px;
	
	padding: 3px;
	
	background-color: rgba(0,0,0,0);
	border-radius: 15px;
}
#notifications .slideButtonLeft:hover, #notifications .slideButtonRight:hover {
	background-color: #FAFAFA;
	cursor: pointer;
}

/* Login menu styling */
#login {
	text-align:center;
}
#login span {
	font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

#content table.table td.newsFooter {
	text-align:right;
	background-color:#afa490;
	padding:2px;
	padding-right:5px;
	
	font-size:14px;
	font-family:"comic sans ms";
	
	/* text-shadow:1px 1px #CCCCCC; */
}

#content a.imageLink {
	text-decoration: none;
}


/* Colors */
#content .premiumUser, #content .premiumUser:hover {
    --color-text-shadow: rgba(255, 255, 255, 0.4);

    background: transparent url("/images/premium_glow.gif") repeat scroll 0% 0%;
    text-shadow:
            0 1px 1px var(--color-text-shadow),
            0 -1px 1px var(--color-text-shadow),
            -1px 0 1px var(--color-text-shadow),
            1px 0 1px var(--color-text-shadow);
}
#content .staffMember {
	width: 100%;
	margin: 1px 0px 3px;
	padding: 0px;
	font-size: 10px;
	text-transform: uppercase;
	color: #E0E0E0;
	text-shadow: 0px -1px 1px;
}

#content .blue, #content a.blue:hover  {
	color: #0000C0;
}
#content .pink, #content a.pink:hover {
	color: #E030C0;
}
#content .gold, #content a.gold:hover {
    --color-text-shadow: rgba(0, 0, 0, 0.6);
	color: rgb(255,215,0);
}

#content .moderator, #content a.moderator:hover {
	color: #009020;
}
#content .headModerator, #content a.headModerator:hover {
	color: #0090A0;
}
#content .administrator, #content a.administrator:hover {
	color: #A00000;
}

#content a.chat.normalUser, #content a.chat.normalUser:hover {
	color: #000000;
}

#content a.userLink {
	text-decoration: none;
}
#content a.userLink:hover {
	text-decoration: underline;
}


#content table.table td.rowHeader {
	padding:1px 0px;
	border:0px;
	border-bottom:1px solid #000000;
	font-weight:bold;
	text-align:center;
}
#content table.table td.row1 {
	padding:1px 0px;
	border:0px;
	background-color:#efe9da;
	
	
}
#content table.table td.row2 {
	padding:1px 0px;
	border:0px;
	background-color:#f2eee4;
}


/* Overflow fixes */
#content table.table img {
	max-width: 100%;
}
#content table.table td {
	overflow-wrap: break-word;
}
#socialPosts table.table tr td:first-child {
	overflow-wrap: normal;
}

#content table.map {
	max-width: 600px;
	border-radius: 15px;
}
#content table.map td {
	height: 32px;
	width: 32px;
}

#content ul.submenu {
	width: 90%;
	margin: auto;
	margin-top: 25px;
	padding:0px;
	
	border: 1px solid #131313;
	border-radius: 30px;
	background-color: #efe9da;
	text-align: center;
}
#content ul.submenu li {
	list-style: none;
	display: inline-block;
	text-align: center;
	
	background-color: #efe9da;
	background: linear-gradient(to bottom, #e7e1d1, #efe9da);
}
#content ul.submenu li:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#content ul.submenu li:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
#content ul.submenu li:hover {
	background: linear-gradient(to bottom, #F4F4F4, #E8E8E8);
}
#content ul.submenu a {
	display: inline-block;
	width:100%;
	font-size: 14px;
	
	padding: 2px 0px;
	text-decoration: none;

	color: #000030;
}
#content ul.submenu a:hover {
	color:#786e81;
}
#content .submenuMargin {
	margin-bottom:20px;
}

#handseals {
	text-align: center;
}

#content ul.submenu input.link {
	display: inline-block;
	width:100%;
	font-size: 14px;

	padding: 2px 0px;
	text-decoration: none;
	background:none;
	border:0px;
	margin:0px;

	color:#000030;
	font-weight:bold;
	font-family: inherit;
	cursor: pointer;
}
input.link:hover {
	color:#FFFFFF;
	text-decoration:none;
}

br.clear {
	clear:both;
	margin:0px;
}

/* Travel */
.upArrow, .leftArrow, .rightArrow, .downArrow {
    display: inline-block;
    height:32px;
    width:32px;
    margin:0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.upArrow {
    background-image: url(../../images/icons/up.png);
}
.upArrow:hover {
    background-image: url(../../images/icons/up_hover.png);
}

.leftArrow {
    background-image: url(../../images/icons/left.png);
}
.leftArrow:hover {
    background-image: url(../../images/icons/left_hover.png);
}

.downArrow {
    background-image: url(../../images/icons/down.png);
}
.downArrow:hover {
    background-image: url(../../images/icons/down_hover.png);
}

.rightArrow {
    background-image: url(../../images/icons/right.png);
}
.rightArrow:hover {
    background-image: url(../../images/icons/right_hover.png);
}

:root {
    --travel-button-size: 40px;
}

.travelContainer {
    width: 600px;
    height: 385px;
    position: relative;

    /* Match content size to mapContainer, but pad */
    padding: var(--travel-button-size);
}
.mapContainer {
    width: 600px;
    height: 385px;
}

.travelButton {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.1);
}
.travelButton:hover {
    background: rgba(0,0,0,0.2);
}
.north {
    left: var(--travel-button-size);
    right: var(--travel-button-size);
    top: 0;
    height: var(--travel-button-size);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.east {
    width: var(--travel-button-size);
    right: 0;
    top: var(--travel-button-size);
    bottom: var(--travel-button-size);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.west {
    left: 0;
    width: var(--travel-button-size);
    top: var(--travel-button-size);
    bottom: var(--travel-button-size);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.south {
    left: var(--travel-button-size);
    right: var(--travel-button-size);
    height: var(--travel-button-size);
    bottom: 0;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}