:root {
    --content-top-margin: 175px;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
    font-size: 14px;
}
body {
	background-color: #111111;
}

#header {
	/* Structure */
	width: 742px;
	padding: 0;
	margin: 0 auto auto 90px;
	
	position: absolute;
	top: 0;
	
	/* Style */
	/* border-bottom:1px solid #000; */
}

#topMenu {
	width: 580px;
	height: 30px;
	padding: 3px 0;
	
	/*background: linear-gradient(to bottom, #3A3230, #1f1c1d, #1f1c1d);*/

    background-color: #1f1c1d;
	border-bottom-left-radius: 5px;
	
	position: relative;
	top: 0;
    left: 200px;
	
	margin-top: 0;
}
#topMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#topMenu li {
	display: inline;
	margin-left:30px;
}
#topMenu a {
	display: inline-block;
	padding: 6px;
	
	/* style */
	border-radius: 10px;
	
	text-decoration: none;
	text-transform: uppercase;
	color: #e3d7bc;
	font-size: 14px;
	font-family: Corbel, sans-serif;
}

#topMenu a:hover {
	transition: 0.2s;
	color: #ffffff;
	/* text-shadow: 1px 1px 3px #EAEAEA; */
}

/* Content */
#container {
	/* Structure */
	width: 1145px;
	position: relative;
	
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 37px;
	margin-bottom: 0;
	
	/* Temp */
	
	/* Style */
	background-color: #131313;
	background-image: url(./images/banner2.png);
	background-repeat: no-repeat;
    background-position-y: -30px;
}

#content {
	width: 750px;
	min-height: 500px;
	background-color: #1f1c1d;
	
	padding-bottom: 5px;
	
	border:1px solid #000000;
	
	float: left;
	margin-left: 60px;
	margin-top: var(--content-top-margin);
}
h2#title {
	margin-left: 30px;
	font-size: 36px;
	color: #afa490;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Side bar */
#sideMenu  {
	width: 215px;
	min-height: 600px;
	
	float: right;
	margin-right: 100px;
	position: relative;
	z-index: 10;
	
	/* Style */
	background-color: #1f1c1d;
	
}
#sideMenu ul {
	list-style: none;
	
	margin: var(--content-top-margin) 0 8px;
    padding: 0;
}
#sideMenu li {
    margin: 3px 0;
}
#sideMenu h2 {
	width: 215px;
	height: 35px;
	
	background-image: url(images/sidemenu_bg.png);
	background-repeat: no-repeat;
	
	margin: 0;
	margin-top: 15px;
	margin-bottom: 4px;

	position: relative;
}
#sidemenu h2 p {
	font-size: 16px;
	font-weight: normal;
	
	margin: 0;
	padding-top: 8px;
	padding-left: 10px;
	
	text-transform: uppercase;
	
	color: #a29986;
	font-family: Corbel;
	/*font-family: Corbel, sans-serif;*/

}

#sidemenu div.headerMargin {
	margin-top: 0;
	margin-bottom: 50px;
}

#sidemenu a {
	padding-left: 22px;
	text-decoration: none;
	
	color: #a29986;
	font-family: Corbel, sans-serif;
}
#sidemenu a:hover {
	color: #eee6d5;
	/* text-shadow: 1px 1px 3px #EAEAEA; */
	
	transition: 0.2s;		
}

#sideMenuBg {
	width: 215px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 100px;
	z-index: 1;
	
	background-color: #1f1c1d;
    border-left: 1px solid #282425;
}

#logout {
	margin-top: 15px;
	
	text-align: center;
	font-weight: bold;
}
#logout a {
	text-transform: uppercase;
	padding-right: 22px;
	color: #c6b9a2;
}
#logout a:hover {
	padding-right: 22px;
	color: #a29986;
}
#logoutTimer {
	color: #c6b9a2;
}

/* Footer */
#footer {
	width:1051px;
	/*
	position:absolute;
	bottom: 0px;
	left:-66px;
	z-index: 9;
	*/
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	height:37px;

	padding-bottom:10px;
	
}


/* Body content styling */
#content  {
	color: #303030;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	
	position: relative;
}

.avatarFrame {
	margin:0;
	margin-right:15px;
	
	width: 150px;
	height: 150px;
	
	padding: 10px 2px;
	
	text-align:center;
	
	border:1px solid #FFFFFF;
	
	border-radius:10px;
	box-shadow: 2px 2px 5px 0 #202020;
}
.avatarFrame img {
	display: block;
	margin:auto;
	max-width: 150px;
	max-height: 150px;
	margin-bottom: 5px;
	
	border: 0;
}

label {
	display: inline-block;
}

/* #c6bca1; */
:root {
    --travel-button-size: 40px;

    /* v1 */
    /* --theme-content-bg-color: #efe9da;
    --theme-content-darker-bg-color: #e7e1d1;
    --theme-content-lighter-bg-color: #f2eee4;*/

    /* v2 */
    /* --theme-content-bg-color: #cfc3a8;
    --theme-content-darker-bg-color: #c8bca2;
    --theme-content-darker2-bg-color: #bfb49b;
    --theme-content-lighter-bg-color: #d6caad; */

    /* v3 */
    --theme-content-bg-color: #d2c9b3;
    --theme-content-darker-bg-color: #c8bfab;
    --theme-content-darker2-bg-color: #bfb6a3;
    --theme-content-lighter-bg-color: #d9d0ba;
}

#content table.table {
	margin: 20px auto auto;
	padding:0;
	width: 95%;
	
	table-layout: fixed;
	
	/* Style */
	color: inherit;
	font-size: inherit;

	background-color: var(--theme-content-bg-color);
	
	border: 1px solid #000000;
	border-radius:10px;
	border-spacing: 0;
}
#content table.table td {
	padding: 5px;
	border: 1px solid var(--theme-content-darker2-bg-color);
	max-width: 100%;
}
#content table.table th {
	padding: 2px;
	background-color: #332a2e;
	
	font-size: 14px;
	
	color: #afa490;
	border-bottom:1px solid #202020;
	text-shadow: 0 1px 0 #000000;
}

#content .button {
	display: inline-block;
	padding: 5px 7px;
	margin-bottom: 10px;
	
	/* Style */
	background: linear-gradient(#EFEFEF, #E4E4E4);
	border: 1px solid #E0E0E0;
	border-radius: 15px;
	
	text-align:center;
	
	box-shadow: 0 0 4px 0 rgba(0,0,0,0);
}

/* Border rounding on table */
#content table.table tr:first-child td:first-child, #content table.table tr:first-child th:first-child  {
	border-top-left-radius: 7px;
}
#content table.table tr:first-child td:last-child, #content table.table tr:first-child th:last-child  {
	border-top-right-radius: 7px;
}
#content table.table tr:last-child td:first-child  {
	border-bottom-left-radius: 7px;
}
#content table.table tr:last-child td:last-child  {
	border-bottom-right-radius: 7px;
}
#content table.table td.row1:first-child {
	padding-left:8px;
}
#content table.table td.row2:first-child {
	padding-left:8px;
}

#content .contentHeader {
	/* Structure */
	margin-top: 20px;
	margin-left: 20px;
    margin-bottom: -5px;
	
	/* Style */
	font-size: 22px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #a59b88;
}

#footer p {
	margin: 0;
	text-align:center;
	padding-top:10px;
}

/* Imported */

#content a, a:visited {
	color:#786e81;
	font-weight:bold;
}
#content a:hover {
	color:#FFFFFF;
	text-decoration:none;
}

#content td a {
	color: #000030;
}
#content td a:hover {
	color:#786e81;
}

a.link, a.link:visited {
	color:#786e81;
	font-weight:bold;
}
a.link:hover {
	color:#FFFFFF;
	text-decoration:none;
}

form {
	margin:0;
}
p {
	margin-bottom:5px;
}

.bold {
	font-weight:bold;
}
#content .bold {
	font-weight:bold;
}

.systemMessage {
	position: absolute;
	margin: 0;
	width: 670px;
	
	left: 0;
	top: 24px;
	
	z-index: 50;
	
	/* Style */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	text-align: center;
	color: #3ec03e;
}
.trainingNotification {
	width: 215px;
	position: absolute;
	right: 100px;
	top: 120px;
	
	z-index: 20;
	
	
	margin: 0;
	padding: 4px 0;
	
	/* Style */
	text-align: center;
	
	color: #eee6d5;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
}

#notifications {	
	width: 215px;
	height: 100px;
	position: absolute;
	right: 100px;
	z-index: 20;

	padding-top: 5px;
	
	/* Style */
	text-align:center;
}
#notificationSlider {
	width: 200px;
	display: inline-block;
	margin: 0;
	height: 20px;
}
#notificationSlider p.notification {
	width: 200px;
	display: none;
	margin: 0 1px;
	
	text-align:center;
}
#notificationSlider p.notification:first-child {
	display: block;
}

#notifications a.link {
	font-size:15px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #b697a3;
	text-decoration: none;
	text-transform: uppercase;
}
#notifications p.notification a.link:hover {
	color: #9c9281;
}
#notifications .header {
	display: none;
}

#notifications a.link.red, #notifications a.red:hover {
	color: #DF0020;
}

#notifications .slideButtonLeft {
	display: block;
	position: absolute;
	z-index: 25;
	left: 2px;
	top: 10px;
	
	height: 12px;
	width: 12px;
	
	padding: 3px;
	
	background-color: rgba(0,0,0,0);
	border-radius: 15px;
}
#notifications .slideButtonRight {
	display: block;
	position: absolute;
	z-index: 25;
	right: 2px;
	top: 10px;
	
	height: 12px;
	width: 12px;
	
	padding: 3px;
	
	background-color: rgba(0,0,0,0);
	border-radius: 15px;
}
#notifications .slideButtonLeft:hover, #notifications .slideButtonRight:hover {
	background-color: #FAFAFA;
	cursor: pointer;
}

/* Login menu styling */
#login {
	text-align:center;
}
#login span {
	font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

#content table.globalMessage {
    table-layout: initial;
}
#content table.table td.newsFooter {
	text-align:right;
	background-color:#afa490;
    padding: 4px 7px;
	
	font-size:14px;
	font-family:"comic sans ms";

    border: none;

	/* text-shadow:1px 1px #CCCCCC; */
}

#content a.imageLink {
	text-decoration: none;
}


/* Colors */
#content .premiumUser, #content .premiumUser:hover {
    --color-text-shadow: rgba(255, 255, 255, 0.4);

    background: transparent url("/images/premium_glow.gif") repeat scroll 0 0;
    text-shadow:
            0 1px 1px var(--color-text-shadow),
            0 -1px 1px var(--color-text-shadow),
            -1px 0 1px var(--color-text-shadow),
            1px 0 1px var(--color-text-shadow);
}
#content .staffMember {
	width: 100%;
	margin: 1px 0 3px;
	padding: 0;
	font-size: 10px;
	text-transform: uppercase;
	color: #E0E0E0;
	text-shadow: 0 -1px 1px;
}

#content .blue, #content a.blue:hover  {
	color: #0000C0;
}
#content .pink, #content a.pink:hover {
	color: #E030C0;
}
#content .gold, #content a.gold:hover {
    --color-text-shadow: rgba(0, 0, 0, 0.6);
	color: rgb(255,215,0);
}

#content .moderator, #content a.moderator:hover {
	color: #009020;
}
#content .headModerator, #content a.headModerator:hover {
	color: #0090A0;
}
#content .contentAdmin, #content a.contentAdmin:hover {
    color: #A000B0;
}
#content .administrator, #content a.administrator:hover {
	color: #A00000;
}

#content a.chat.normalUser, #content a.chat.normalUser:hover {
	color: #000000;
}

#content a.userLink {
	text-decoration: none;
}
#content a.userLink:hover {
	text-decoration: underline;
}


#content table.table td.rowHeader {
	padding:1px 0;
	border:0;
	border-bottom:1px solid #000000;
	font-weight:bold;
	text-align:center;
}
#content table.table td.row1 {
	padding:1px 0;
	border:0;
    background-color: var(--theme-content-bg-color);
	
	
}
#content table.table td.row2 {
	padding:1px 0;
	border:0;
	background-color: var(--theme-content-lighter-bg-color);
}


/* Overflow fixes */
#content table.table img {
	max-width: 100%;
}
#content table.table td {
	overflow-wrap: break-word;
}
#socialPosts table.table tr td:first-child {
	overflow-wrap: normal;
}

#content table.map {
	max-width: 600px;
	border-radius: 15px;
}
#content table.map td {
	height: 32px;
	width: 32px;
}

#content ul.submenu {
	width: 90%;
	margin: auto;
	margin-top: 25px;
	padding:0;
	
	border: 1px solid #131313;
	border-radius: 30px;
	background-color: var(--theme-content-bg-color);
	text-align: center;
}
#content ul.submenu li {
	list-style: none;
	display: inline-block;
	text-align: center;

    background: var(--theme-content-bg-color)
        linear-gradient(to bottom, var(--theme-content-darker-bg-color), var(--theme-content-bg-color));
}
#content ul.submenu li:first-child {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#content ul.submenu li:last-child {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
#content ul.submenu li:hover {
	background: linear-gradient(to bottom, #F4F4F4, #E8E8E8);
}
#content ul.submenu a {
	display: inline-block;
	width:100%;
	font-size: 14px;
	
	padding: 2px 0;
	text-decoration: none;

	color: #000030;
}
#content ul.submenu a:hover {
	color:#786e81;
}
#content .submenuMargin {
	margin-bottom:20px;
}

#handseals {
	text-align: center;
}

#content ul.submenu input.link {
	display: inline-block;
	width:100%;
	font-size: 14px;

	padding: 2px 0;
	text-decoration: none;
	background:none;
	border:0;
	margin:0;

	color:#000030;
	font-weight:bold;
	font-family: inherit;
	cursor: pointer;
}
input.link:hover {
	color:#FFFFFF;
	text-decoration:none;
}

br.clear {
	clear:both;
	margin:0;
}

/* Travel */
.upArrow, .leftArrow, .rightArrow, .downArrow {
    display: inline-block;
    height:32px;
    width:32px;
    margin:0;
    background-size: 100%;
    background-repeat: no-repeat;
}

.upArrow {
    background-image: url(../../images/icons/up.png);
}
.upArrow:hover {
    background-image: url(../../images/icons/up_hover.png);
}

.leftArrow {
    background-image: url(../../images/icons/left.png);
}
.leftArrow:hover {
    background-image: url(../../images/icons/left_hover.png);
}

.downArrow {
    background-image: url(../../images/icons/down.png);
}
.downArrow:hover {
    background-image: url(../../images/icons/down_hover.png);
}

.rightArrow {
    background-image: url(../../images/icons/right.png);
}
.rightArrow:hover {
    background-image: url(../../images/icons/right_hover.png);
}

.travelContainer {
    width: 600px;
    height: 385px;
    position: relative;

    /* Match content size to mapContainer, but pad */
    padding: var(--travel-button-size);
}
.mapContainer {
    width: 600px;
    height: 385px;
}

.travelButton {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.1);
}
.travelButton:hover {
    background: rgba(0,0,0,0.2);
}
.north {
    left: var(--travel-button-size);
    right: var(--travel-button-size);
    top: 0;
    height: var(--travel-button-size);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.east {
    width: var(--travel-button-size);
    right: 0;
    top: var(--travel-button-size);
    bottom: var(--travel-button-size);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.west {
    left: 0;
    width: var(--travel-button-size);
    top: var(--travel-button-size);
    bottom: var(--travel-button-size);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.south {
    left: var(--travel-button-size);
    right: var(--travel-button-size);
    height: var(--travel-button-size);
    bottom: 0;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.contentDiv,
.contentDivMed {
    width: 95%;
    margin: 15px auto 15px auto;

    background: var(--theme-content-bg-color);
    border-radius: 10px;
	border: 1px solid #202020;
}

.contentDivMed {
    width: 70%;
}

.contentDivHeader {
    padding: 5px 0;
	margin: 0 auto;
    text-align: center;

    background: #332a2e;
	border-bottom: 1px solid #202020;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

    color: #afa490;;
	text-shadow: 0 1px 0 #000000;
    font-size: 1rem;
}

.contentDivCaption {
    width: 90%;
    padding: 15px 0;
    text-align: center;
    margin: 0 auto;

    color: rgb(48, 48, 48);
    font-size: 1.1rem;
    font-family: 'BebasNeue', sans-serif;
}

.contentDivCaption span:first-of-type {
    padding-right: 10px;

    color: rgb(48, 48, 48);
	font-weight: bold;
}

#dailyTaskWrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    padding: 10px 0 0 0;
}

.dailyTask {
    display: flex;
    flex-flow: row wrap;
}

.dailyTaskTitle {
    flex-grow: 4;
    width: 100%;
    padding: 5px 0 10px 0;

    font-size: 1rem;
    color: rgb(48, 48, 48);
    text-transform: uppercase;
}

.dailyTaskGoal span:first-of-type,
.dailyTaskReward span:first-of-type,
.dailyTaskDifficulty span:first-of-type {
    padding-right: 10px;

    color: rgb(48, 48, 48);
    text-transform: uppercase;
	font-weight: bold;
}

.dailyTaskGoal,
.dailyTaskReward,
.dailyTaskDifficulty {
    text-align: left;

    color: rgb(48, 48, 48);
    font-size: 0.8rem;
}

.dailyTaskReward {
    text-align: left;
}

.dailyTaskDifficulty {
    text-align: left;
}

.dailyTaskGoal, 
.dailyTaskReward,
.dailyTaskDifficulty {
    flex-grow: 1;
    width: 33%;
}

.dailyTaskDifficulty span:last-of-type {
    font-weight: bold;
}

.dailyTaskProgress {
    display: flex;
    flex-grow: 3;
    width: 90%;
    height: 30px;
}

.dailyTaskProgressCaption {
    flex-grow: 1;
    width: 10%;
    text-align: center;
    line-height: 30px;

    color: rgb(48, 48, 48);
    font-size: 0.8rem;
    font-weight: bold;
}

.dailyTaskProgressBar {
    height: 10px;
    width: 100%;
    align-self: center;

    background: #332a2e;
    box-shadow: 0 0 1px #000000 inset, 0 0 0 1px rgba(255,255,255,0.02);
    border: 1px solid #000000;
}

.dailyTaskProgressBar div {
    height: 100%;
    margin-left: 0;

    background: var(--theme-content-bg-color);
    border-right: 1px solid #000000;
}

.dailyTaskComplete div {
    background: #218821;
}

.dailyTaskEasy {
    color: #3bac4e;
}

.dailyTaskMedium {
    color: #e5ff00;
    text-shadow: 0 0 2px black;
}

.dailyTaskHard {
    color: #d13535;
}